##### Find power of a number

Write a program to find x to the power n (i.e. x^n). Take x and n from the user. You need to print the answer.
Note : For this question, you can assume that 0 raised to the power of 0 is 1

Input format :
Two integers x and n (separated by space)
Output Format :
x^n (i.e. x raise to the power n)
Constraints:
0 <= x <= 8 
0 <= n <= 9
Sample Input 1 :
 3 4
Sample Output 1 :
81
Sample Input 2 :
 2 5
Sample Output 2 :
32

In [9]:
x = int(input("Enter the number"))
n = int(input("Enter the power for the number"))
#base case
if (x==0 or n==0):
    print(1)
    
else:
    print(x**n)

Enter the number0
Enter the power for the number123
1

##### Alpha Pattern

Print the following pattern for the given N number of rows.
Pattern for N = 3
 A
 BB
 CCC
Input format :
Integer N (Total no. of rows)
Output format :
Pattern in N lines
Constraints
0 <= N <= 26
Sample Input 1:
7
Sample Output 1:
A
BB
CCC
DDDD
EEEEE
FFFFFF
GGGGGGG

Sample Input 2:
6
Sample Output 2:
A
BB
CCC
DDDD
EEEEE
FFFFFF

In [19]:
x = int(input())
asci = 65
for i in range(1,x+1):
    for j in range(1,i+1):
        print(chr(i+64),end='')
    print()

7
A
BB
CCC
DDDD
EEEEE
FFFFFF
GGGGGGG

##### All prime numbers

Given an integer N, print all the prime numbers that lie in the range 2 to N (both inclusive).

Print the prime numbers in different lines.

Input Format :

Integer N

Output Format :

Prime numbers in different lines

Constraints :

1 <= N <= 100

Sample Input 1:

9

Sample Output 1:

2

3

5

7









Sample Input 2:

20

Sample Output 2:

2

3

5

7

11

13

17

19

In [23]:
def isPrime(n):
    if n==2 or n==3:
        return n
    for i in range(2,n):
        if n%i ==0:
            return False
        return True
    

a = int(input())
for i in range(2,a+1):
        if isPrime(i):
            print(i)

9
2
3
5
7
9

##### Arithmetic Progression

You are given first three entries of an arithmetic progression. You have to calculate the common difference and print it.
Input format:
The first line of input contains an integer a (1 <= a <= 100)
The second line of input contains an integer b (1 <= b <= 100) 
The third line of input contains an integer c (1 <= c <= 100) 
Constraints:
Time Limit: 1 second
Output format:
The first and only line of output contains the result.  
Sample Input:
1
3
5
Sample Output:
2

In [29]:

def ap(a,b,c):
    x = b-a
    y = c-b
    if x == y:
        return x
    
    
a = int(input())
b = int(input())
c = int(input())

print(ap(a,b,c))

5
10
15
5

##### Rectangular Area

You are given a rectangle in a plane. The corner coordinates of this rectangle is provided to you. You have to print the amount of area of the plane covered by this rectangles.
The end coordinates are provided as four integral values: x1, y1, x2, y2. It is given that x1 < x2 and y1 < y2.
Input format:
The first line of input contains an integer x1 (1 <= x1 <= 10)
The second line of input contains an integer y1 (1 <= y1 <= 10) 
The third line of input contains an integer x2 (1 <= x2 <= 10)
The fourth line of input contains an integer y2 (1 <= y2 <= 10) 
Constraints:
Time Limit: 1 second
Output format:
The first and only line of output contains the result.  
Sample Input:
1
1
3
3
Sample Output:
4

In [32]:
def rect(a,b,c,d):
    length = c-a
    breadth = d-b
    return length*breadth

x1 = int(input())
y1 = int(input())
x2 = int(input())
y2 = int(input())
print(rect(x1,y1,x2,y2))

3
10
8
15
25

##### Sum of n numbers

Given an integer n, find and print the sum of numbers from 1 to n.
Note : Use while loop only.
Input Format :
Integer n
Output Format :
Sum
Constraints :
1 <= n <= 100
Sample Input :
10
Sample Output :
55

In [34]:
def sumof(n):
    total = 0
    i=1
    while i<=n:
        total+=i
        i+=1
    return total

x = int(input())
print(sumof(x))

10
55

##### Sum of Even Numbers

Given a number N, print sum of all even numbers from 1 to N.
Input Format :
Integer N
Output Format :
Required Sum 
Sample Input 1 :
 6
Sample Output 1 :
12

In [36]:
def evenSum(n):
    total = 0
    for i in range(n+1):
        if i%2==0:
            total+=i
    return total

x = int(input())
print(evenSum(x))

6
12

##### Fahrenheit to Celsius

Given three values - Start Fahrenheit Value (S), End Fahrenheit value (E) and Step Size (W), you need to convert 
all Fahrenheit values from Start to End at the gap of W, into their corresponding Celsius values and print the 
table.

Input Format :

3 integers - S, E and W respectively 

Output Format :

Fahrenheit to Celsius conversion table. One line for every Fahrenheit and corresponding Celsius value. On 
Fahrenheit value and its corresponding Celsius value should be separate by tab ("\t")

Constraints :

0 <= S <= 80

S <= E <=  900

0 <= W <= 40 

Sample Input 1:

0 

100 

20

Sample Output 1:

0   -17

20  -6

40  4

60  15

80  26

100 37

Sample Input 2:

20

119

13

Sample Output 2:

20  -6

33  0 

46  7

59  15

72  22

85  29

98  36

111 43

Explanation For Input 2:

We need need to start calculating the Celsius values for each of the Fahrenheit Value which starts from 20. 
So starting from 20 which is the given Fahrenheit start value, we need to compute its corresponding Celsius 
value which computes to -6. We print this information as <Fahrenheit Value> a tab space"\t" <Celsius Value> on 
each line for each step of 13 we take to get the next value of Fahrenheit and extend this idea till we reach 
the end that is till 119 in this case. You may or may not exactly land on the end value depending on the 
steps you are taking.

In [50]:
def tempConversion(S,E,W):
    for i in range(S,E+1,W):
        celsius = ((i-32)*5)/9
        #celsius = ((i-32))/1.8
        print(i,"\t",(celsius))

s = int(input())
e = int(input())
w = int(input())
tempConversion(s,e,w)

20
119
13
20 	 -6.666666666666667
33 	 0.5555555555555556
46 	 7.777777777777778
59 	 15.0
72 	 22.22222222222222
85 	 29.444444444444443
98 	 36.666666666666664
111 	 43.888888888888886

##### Sum of n numbers

Given an integer n, find and print the sum of numbers from 1 to n.
Note : Use while loop only.
Input Format :
Integer n
Output Format :
Sum
Constraints :
1 <= n <= 100
Sample Input :
10
Sample Output :
55

In [4]:
def sum_n(n):
    res = 0
    i=0
    while i<= n:
        res +=i
        i+=1
    return res

result = sum_n(100)
result

5050

##### Sum of n even numbers

In [8]:
def evenSum(n):
    res = 0
    i = 1
    while i<=n:
        if i%2==0:
            res+=i
            i+=1
        else:
            i+=1
    return res

result = evenSum(6)
result

12

##### Primality Checking

In [20]:
def checkPrime(n):
    if n>2:
        d = 2
        flag = False
        while d<n:
            if n%d==0:
                flag=True
            d+=1
        if flag:
            print("Not Prime")
        else:
            print("Prime")
    
    else:
        if (n==2 or n==1):
            print("Prime ")
            
checkPrime(10)

Not Prime

In [16]:
def primality(num):
    if num==1 or num==2 or num==3:
        return 'Prime Number'
    else:
        if (num%2==0) or (num%3==0) or (num%15==0):
            return 'Not Prime'
        else:
            return 'Prime Number'
    
    
result = primality(15)
result

'Not Prime'

##### Calculator

Write a program that performs the tasks of a simple calculator. The program should first take an integer as 
input and then based on that integer perform the task as given below.

1. If the input is 1, then 2 integers are taken from the user and their sum is printed.

2. If the input is 2, then 2 integers are taken from the user and their difference(1st number - 2nd number) is 
printed.

3. If the input is 3, then 2 integers are taken from the user and their product is printed.

4. If the input is 4, then 2 integers are taken from the user and the quotient obtained (on dividing 1st number 
   by 2nd number) is printed.

5. If the input is 5, then 2 integers are taken from the user and their remainder(1st number mod 2nd number) is    printed.

6. If the input is 6, then the program exits.

7. For any other input, then print "Invalid Operation".

Note: Each answer in next line.

Input format:

Take integers as input, in accordance to the description of the question. 

Constraints:

Time Limit: 1 second

Output format:

The output lines must be as prescribed in the description of the question.

Sample Input:

3

1

2

4

4

2

1

3

2

7

6

Sample Output:

2

2

5

Invalid Operation

Explanation of the sample input

The first number given is 3, so that means two more numbers will be given and we'll have to multiply them and 
show the result. The two numbers are 1 and 2. Their product is 2, so 2 is displayed first in the output. 
Similarly, all the numbers are processed in groups of three. The first number tells the operation and the next 
two numbers tell on which numbers the operation is done. This applies to numbers from 1 to 5. If the input is 6 
(like it is at the end), two more numbers will NOT be provided, you simply have to exit the program. Also, if 
the input is any number except 1 to 6 (like 7 which is at the second last), then you simply have to print 
"Invalid Operation"

In [32]:

def calc(a,b,c):
    if (a==1):
        print(b+c)
    elif (a==2):
        print(b-c)
    elif (a==3):
        print(b*c)
    elif (a==4):
        print(b//c)
    elif (a==5):
        print(b%c)
    elif (a==6):
        return
    else:
        print("Invalid Operation")

In [35]:
n = int(input("""Enter the number as per below:
        1: sum
     2:difference
     3:multiply
     4: quotient
     5: remainder
     6: exit"""))
a = int(input("First number: "))
b = int(input("Second number: "))
calc(n,a,b)

Enter the number as per below:
        1: sum
     2:difference
     3:multiply
     4: quotient
     5: remainder
     6: exit1
First number: 2
Second number: 2
4

##### Reverse of a number

Write a program to generate the reverse of a given number N. Print the corresponding reverse number.
Note : If a number has trailing zeros, then its reverse will not include them. For e.g., reverse of 10400 will 
be 401 instead of 00401.

Input format :
Integer N
Output format :
Corresponding reverse number
Constraints:
0 <= N < 10^8
Sample Input 1 :
1234
Sample Output 1 :
4321
Sample Input 2 :
1980
Sample Output 2 :
891

In [2]:
def reverse(n):
    result=0
    temp = n
    while temp>0:
        lastdigit=temp%10
        temp=temp//10
        result = result*10+lastdigit
    print(result)

num = int(input())
reverse(num)

1900100
10091

##### Remove Character (Practice)

In [9]:
def removeChar(a,x):
    
    if(len(a)==0):
        return a
    new = removeChar(a[1:],x)
    if a[0]==x:
        return ""+new
    else:
        return a[0]+new

In [12]:
removeChar("abanamauaia","a")

'bnmui'

In [16]:
def throw(a,x):
    if len(a)==0:
        return a
    new = ""
    for i in range(len(a)):
        if a[i]==x:
            new+=""
        else:
            new+=a[i]
    return new

a="anmol bansal"
result = throw(a,"a")
result

'nmol bnsl'

##### Palindrome checker

Write a program to determine if given number is palindrome or not. Print true if it is palindrome, false otherwise.
Palindrome are the numbers for which reverse is exactly same as the original one. For eg. 121
Sample Input 1 :
121
Sample Output 1 :
true
Sample Input 2 :
1032
Sample Output 2 :
false

In [31]:
#created a reverse copy of the num and then compared it with the original num
def isPalindrome(n):
    rev=""
    for i in range(len(n)-1,-1,-1):
        rev+=n[i]
    if rev == n:
        return True
    else:
        return False

In [37]:
isPalindrome("123021")

False

##### Sum of even & odd

Write a program to input an integer N and print the sum of all its even digits and sum of all its odd digits separately.
Digits mean numbers, not the places! That is, if the given integer is "13245", even digits are 2 & 4 and odd digits are 1, 3 & 5.
Input format :
 Integer N
Output format :
Sum_of_Even_Digits Sum_of_Odd_Digits
(Print first even sum and then odd sum separated by space)
Constraints
0 <= N <= 10^8
Sample Input 1:
1234
Sample Output 1:
6 4
Sample Input 2:
552245
Sample Output 2:
8 15
Explanation for Input 2:
For the given input, the even digits are 2, 2 and 4 and if we take the sum of these digits it will come out to be 8(2 + 2 + 4) and similarly, if we look at the odd digits, they are, 5, 5 and 5 which makes a sum of 15(5 + 5 + 5). Hence the answer would be, 8(evenSum) <single space> 15(oddSum)

In [40]:
def Even_Odd(n):
    even=0
    odd=0
    temp = n
    num=''
    while temp>0:
        num = temp%10
        temp=temp//10
        if num%2==0:
            even+=num
        else:
            odd+=num
    return even, odd

In [42]:
Even_Odd(12345)

(6, 9)

##### Nth Fibonacci number

Nth term of fibonacci series F(n) is calculated using following formula -
    F(n) = F(n-1) + F(n-2), 
    Where, F(1) = F(2) = 1
Provided N you have to find out the Nth Fibonacci Number.
Input Format :
Integer n
Output Format :
Nth Fibonacci term i.e. F(n)
Constraints:
1 <= n <= 25
Sample Input 1:
4
Sample Output 2:
3 
Sample Input 1:
6
Sample Output 2:
8

In [56]:
def NthFib(n):
    if n==1 or n==2:
        return 1
    elif n<=0:
        return 
    #finding nth fib using recursion
    a = NthFib(n-1)
    b = NthFib(n-2)
    return a+b

NthFib(int(input()))

7

13

In [63]:
#without recursion
def nFib(n):
    a = 1 
    b=1
    for i in range(1,n):
        c=a+b
        a=b
        b=c
    return a

nFib(7)

13

##### Code : Square Pattern

Print the following pattern for the given N number of rows.
Pattern for N = 4
4444
4444
4444
4444
Input format :
Integer N (Total no. of rows)
Output format :
Pattern in N lines
Constraints
0 <= N <= 50
Sample Input 1:
7
Sample Output 1:
7777777
7777777
7777777
7777777
7777777
7777777
7777777
Sample Input 1:
6
Sample Output 1:
666666
666666
666666
666666
666666
666666

In [3]:
n=int(input())
for i in range(n):
    for j in range(n):
        print(n,end='')
    print()

4
4444
4444
4444
4444

1

12

123

1234

In [8]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end='')
    print()

4
1
12
123
1234

1

23

345

4567

In [9]:
n=int(input())
for i in range(1,n+1):
    for j in range(i):
        print(i+j,end='')
    print()

4
1
23
345
4567

1

23

456

78910

In [10]:
n=int(input())
num=1
for i in range(1,n+1):
    for j in range(1,i+1):
        print(num,end='')
        num+=1
    print()

4
1
23
456
78910

##### Code : Triangular Star Pattern

Print the following pattern for the given N number of rows.
Pattern for N = 4

*

**

***

****

Note : There are no spaces between the stars (*).
Input format :
Integer N (Total no. of rows)
Output format :
Pattern in N lines
Constraints
0 <= N <= 50
Sample Input 1:
5

Sample Output 1:

*

**

***

****

*****

Sample Input 2:
6
Sample Output 2:

*

**

***

****

*****

******

In [15]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        print("*",end='')
    print()

6
*
**
***
****
*****
******

In [16]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i,end='')
    print()

4
1
22
333
4444

##### Code : Reverse Number Pattern

Print the following pattern for the given N number of rows.
Pattern for N = 4
1
21
321
4321
Input format :
Integer N (Total no. of rows)
Output format :
Pattern in N lines
Constraints
0 <= N <= 50
Sample Input 1:
5
Sample Output 1:
1
21
321
4321
54321
Sample Input 2:
6
Sample Output 2:
1
21
321
4321
54321
654321

In [18]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i-j+1,end='')
    print()

4
1
21
321
4321

#### Character Patterns

In [19]:
n=int(input())
x=ord("A")
for i in range(1,n+1):
    for j in range(1,n+1):
        print(chr(x+j-1),end='')
    print()

4
ABCD
ABCD
ABCD
ABCD

In [33]:
n=int(input())
x=ord("A")
for i in range(1,n+1):
    for j in range(1,n+1):
        print(chr(x+i+j-2),end='')
    print()

4
ABCD
BCDE
CDEF
DEFG

In [36]:
n=int(input())
i=1
while i<=n:
    startChar=chr(ord("A")+i-1)
    j=1
    while j<=n:
        print(chr(ord(startChar)+j-1),end='')
        j+=1
    i+=1
    print()

4
ABCD
BCDE
CDEF
DEFG

##### Code : Character Pattern

Print the following pattern for the given N number of rows.
Pattern for N = 4
A
BC
CDE
DEFG
Input format :
Integer N (Total no. of rows)
Output format :
Pattern in N lines
Constraints
0 <= N <= 13
Sample Input 1:
5
Sample Output 1:
A
BC
CDE
DEFG
EFGHI
Sample Input 2:
6
Sample Output 2:
A
BC
CDE
DEFG
EFGHI
FGHIJK

In [11]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        print(chr(ord("A")+i+j-2),end='')
    print()

5
A
BC
CDE
DEFG
EFGHI

##### Code : Interesting Alphabets

Print the following pattern for the given number of rows.
Pattern for N = 5
E
DE
CDE
BCDE
ABCDE
Input format :
N (Total no. of rows)
Output format :
Pattern in N lines
Constraints
0 <= N <= 26














Sample Input 1:
8
Sample Output 1:
H
GH
FGH
EFGH
DEFGH
CDEFGH
BCDEFGH
ABCDEFGH
Sample Input 2:
7
Sample Output 2:
G
FG
EFG
DEFG
CDEFG
BCDEFG
ABCDEFG

In [4]:
n=int(input())
for i in range(1,n+1):
    for j in range(n-i+1,n+1):
        print(chr(ord("A")+j-1),end='')
    print()

5
E
DE
CDE
BCDE
ABCDE

##### Number Pattern 1

Print the following pattern for the given N number of rows.
Pattern for N = 4

1

11

111

1111

Input format :
Integer N (Total no. of rows)
Output format :
Pattern in N lines
Sample Input :
5
Sample Output :

1

11

111

1111

11111

In [12]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        print(1,end='')
    print()

5
1
11
111
1111
11111

##### Number Pattern 2

Print the following pattern for the given N number of rows.
Pattern for N = 4

1

11

202

3003

Input format :
Integer N (Total no. of rows)
Contraints:
1 <= n <= 50
Output format :
Pattern in N lines
Sample Input :
5
Sample Output :

1

11


202

3003

40004

In [21]:
n=int(input())
for i in range(0,n):
    if i==0:
        #to print 1 at the first line
        print(1,end='')
    else:
        print(i,end='')
        #to print 0s
        for j in range(0,i-1):
            print(0,end='')
        #to print i at the last 
        for k in range(i-1,i):
            print(i,end='')
    print()

5
1
11
202
3003
40004

##### Number Pattern 3

Print the following pattern for the given N number of rows.
Pattern for N = 4

1

11

121

1221

Input format :
Integer N (Total no. of rows)
Output format :
Pattern in N lines
Sample Input :
5
Sample Output :

1

11

121

1221

12221

In [20]:
n=int(input())
for i in range(0,n):
    if i==0:
        #to print just 1 at the first line
        print(1,end='')
    else:
        print(1,end='')
        #printing 2s
        for j in range(0,i-1):
            print(2,end='')
        #printing 1 at the last 
        for k in range(i-1,i):
            print(1,end='')
    print()

5
1
11
121
1221
12221

##### Number Pattern

Print the following pattern for the given N number of rows.
Pattern for N = 4

1234

123

12

1

Input format :
Integer N (Total no. of rows)
Output format :
Pattern in N lines
Sample Input :
5
Sample Output :

12345

1234

123

12

1

In [25]:
n=int(input())
for i in range(0,n):
    for j in range(1,n-i+1):
        print(j,end='')
    print()

5
12345
1234
123
12
1

##### Alpha Pattern

Print the following pattern for the given N number of rows.
Pattern for N = 3

A

BB

CCC

Input format :
Integer N (Total no. of rows)
Output format :
Pattern in N lines
Constraints
0 <= N <= 26
Sample Input 1:
7
Sample Output 1:

A

BB

CCC

DDDD

EEEEE

FFFFFF

GGGGGGG

Sample Input 2:
6
Sample Output 2:

A

BB

CCC

DDDD

EEEEE

FFFFFF

In [29]:
n=int(input())
for i in range(0,n):
    for j in range(0,i+1):
        print(chr(ord("A")+i),end='')
    print()

6
A
BB
CCC
DDDD
EEEEE
FFFFFF

In [2]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,n-i+1):
        print("*",end='')
    print()

5
****
***
**
*

In [8]:
#Mirror pattern using for loop
n=int(input())
for i in range(1,n+1):
    #for spaces
    for j in range(1,n-i+1):
        print(" ",end='')
    #for stars
    for k in range(1,i+1):
        print("*",end='')
    print()

4
   *
  **
 ***
****

In [13]:
#Mirror pattern using while loop
n=int(input())
i=1
while i<=n:
    spaces=1
    while spaces<=n-i:
        print(" ",end='')
        spaces+=1;
    stars=1
    while stars<=i:
        print("*",end='')
        stars+=1;
    print()
    i+=1

4
   *
  **
 ***
****

##### Isosceles Triangle

In [29]:
#Isosceles Triangle
n=int(input())
for i in range(1,n+1):
    #spaces
    for spc in range(1,n-i+1):
        print(" ",end='')
    #increasing number
    for inc in range(1,i+1):
        print(inc,end='')
    #decreasing number
    for dec in range(1,i):
        print(i-dec,end='')
    print()

5
    1
   121
  12321
 1234321
123454321

##### Isosceles Triangle While loop

In [25]:
#Isosceles Triangle While loop

n=int(input())
i=1
while i<=n:
    spaces=1
    while spaces<=n-i:
        print(" ",end='')
        spaces+=1
    increasing_num =1
    while increasing_num<=i:
        print(increasing_num,end='')
        increasing_num+=1
    decreasing_num=1
    while decreasing_num<i:
        print(i-decreasing_num,end='')
        decreasing_num+=1
    print()
    i+=1

5
    1
   121
  12321
 1234321
123454321

##### Diamond pattern

In [9]:
n=int(input())
if n%2!=0:
    n1=(n+1)//2
    n2=n-n1
else:
    n1=n//2
    n2=n1-1

#Upper half pattern
for i in range(1,n1+1):
    for spaces in range(1,n1-i+1):
        print(" ",end='')
    for stars in range(1,(2*i)):
        print("*",end='')
    print()

#Bottom half pattern
for i in range(n2,0,-1):
    for spaces in range(1,n2-i+2):
        print(" ",end='')
    for stars in range(1,(2*i)):
        print("*",end='')
    print()

6
  *
 ***
*****
 ***
  *

In [22]:
n=int(input())
for i in range(1,n+1):
    #for printing the left side of the pattern, the triangle
    for j in range(1,i+1):
        print(j,end='')
    #for printing the spaces pattern
    for spaces in range(1,((2*n)-(2*i)+1)):
        print(" ",end='')
    #for printing the reverse triangle pattern
    for j in range(1,i+1):
        print(i-j+1,end='')
    print()

7
1            1
12          21
123        321
1234      4321
12345    54321
123456  654321
12345677654321

In [43]:
n=int(input())
#top half
for i in range(1,n+1):
    for spaces in range(1,i):
        print(" ",end='')
    for j in range(1,i+1):
        print("* ",end='')
    print()
#bottom half
for i in range(n-1,0,-1):
    for spaces in range(1,i):
        print(" ",end='')
    for j in range(1,i+1):
        print("* ",end='')
    print()

10
*
 * *
  * * *
   * * * *
    * * * * *
     * * * * * *
      * * * * * * *
       * * * * * * * *
        * * * * * * * * *
         * * * * * * * * * *
        * * * * * * * * *
       * * * * * * * *
      * * * * * * *
     * * * * * *
    * * * * *
   * * * *
  * * *
 * *
*

##### Binary Pattern

In [3]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,n-i+1):
        if (i%2==0):
            print(0,end='')
        else:
            print(1,end='')
    print()

5
1111
000
11
0

In [10]:
n=int(input())
count=1
for i in range(1,n+1):
    for spaces in range(1,n-i+1):
        print(" ",end='')
    for j in range(1,i+1):
        print(count,end=' ')
        count+=1
    print()

4
   1
  2 3
 4 5 6
7 8 9 10

##### Print concentric rectangular pattern in a 2d matrix

In [25]:
n=int(input())
n1=(2*n//2)
n2=n1-1
for i in range(1,n1+1):
    temp = n
    for decreasing in range(1,i):
        print(temp,end='')
        temp-=1
    for const in range(1,(2*n-2*i+2)):
        print(n-i+1,end='')
    for increasing in range(1,i):
        temp+=1
        print(temp,end='')
    print()

for i in range(n2,0,-1):
    temp=n
    for decreasing in range(1,i):
        print(temp,end='')
        temp-=1
    for const in range(1,(2*n-2*i+2)):
        print(n-i+1,end='')
    for increasing in range(1,i):
        temp+=1
        print(temp,end='')
    print()

4
4444444
4333334
4322234
4321234
4322234
4333334
4444444

RANGOLI PATTERN

In [3]:
n=3
for i in range((2*n-1),1,-2):
    for j in range(i,1,-1):
        print('-',end='')
    print()

----
--

In [4]:
n=4
#dividing the pattern into two parts n1 and n2
n1= 2*n//2
n2=n1-1

#first half
for i in range(1,n1+1):
    temp=n
    for decreasing in range(1,i):
        print(temp,end='')
        #reducing value of temp after printing
        temp-=1
    for constant in range(1, (2*n - 2*i + 2)):
        print(n-i+1,end='')
    for increasing in range(1,i):
        #first increasing value of temp and then printing it
        temp+=1
        print(temp,end='')
    print()
#second half
#reverse the numbering of lower rows. Start from n2 and end at 1
for i in range(n2,0,-1):
    temp=n
    for decreasing in range(1,i):
        print(temp,end='')
        temp-=1
    for constant in range(1, (2*n - 2*i +2)):
        print(n-i+1,end='')
    for increasing in range(1,i):
        temp+=1
        print(temp,end='')
    print()

4444444
4333334
4322234
4321234
4322234
4333334
4444444

Rangoli Pattern: 
#size 3

----c----

--c-b-c--

c-b-a-b-c

--c-b-c--

----c----

In [41]:
n=3
for rows in range(1,n+1):
    for _ in range(2*n-2*rows,0,-1):
        print("-",end='')
    for i in range(1,rows+1):
        print(chr(ord('a')+n-i)+'-',end='')
    for j in range(rows-1,0,-1):
        print(chr(ord('a')+n-j)+'-',end='')
    for _ in range(2*n-2*rows,0,-1):
        print("-",end='')
    print()
for rows in range(n,1,-1):
    for _ in range(2,(2*n-2),2):
        print("-",end='')
    for i in range(rows):

----c-----
--c-b-c---
c-b-a-b-c-

In [2]:
#chat gpt generated
n = 3

# Generating the top half of the pattern
for rows in range(1, n+1):
    for _ in range(2*n - 2*rows):
        print("-", end='')
    for i in range(rows, 0, -1):
        print(chr(ord('a') + i - 1), end='')
        if i != 1:
            print("-", end='')
    for i in range(2, rows+1):
        print("-", end='')
        print(chr(ord('a') + i - 1), end='')
    for _ in range(2*n - 2*rows):
        print("-", end='')
    print()

# Generating the bottom half of the pattern
for rows in range(n-1, 0, -1):
    for _ in range(2*n - 2*rows):
        print("-", end='')
    for i in range(rows, 0, -1):
        print(chr(ord('a') + i - 1), end='')
        if i != 1:
            print("-", end='')
    for i in range(2, rows+1):
        print("-", end='')
        print(chr(ord('a') + i - 1), end='')
    for _ in range(2*n - 2*rows):
        print("-", end='')
    print()

----a----
--b-a-b--
c-b-a-b-c
--b-a-b--
----a----

In [42]:
import string

def rangoli_pattern(size):
    #assign all lowercase alphabets
    alphabet=string.ascii_lowercase
    rows=[]
    
    for i in range(size):
        row='-'.join(alphabet[size-i-1:size])
        rows.append((row[::-1]+row[1:]).center(size*4-3,'-'))
    return '\n'.join(rows+rows[:-1][::-1])

print(rangoli_pattern(4))

------d------
----d-c-d----
--d-c-b-c-d--
d-c-b-a-b-c-d
--d-c-b-c-d--
----d-c-d----
------d------

In [46]:
import string
def print_rangoli(size):
   
    # your code goes here
    alphabet=string.ascii_lowercase
    rows=[]
    
    for i in range(size):
        row='-'.join(alphabet[size-i-1:size])
        rows.append((row[::-1]+row[1:]).center(size*4-3,'-'))
    print('\n'.join(rows+rows[:-1][::-1]))

if __name__ == '__main__':
    print_rangoli(5)

--------e--------
------e-d-e------
----e-d-c-d-e----
--e-d-c-b-c-d-e--
e-d-c-b-a-b-c-d-e
--e-d-c-b-c-d-e--
----e-d-c-d-e----
------e-d-e------
--------e--------