##### Find power of a number

Write a program to find x to the power n (i.e. x^n). Take x and n from the user. You need to print the answer.
Note : For this question, you can assume that 0 raised to the power of 0 is 1

Input format :
Two integers x and n (separated by space)
Output Format :
x^n (i.e. x raise to the power n)
Constraints:
0 <= x <= 8 
0 <= n <= 9
Sample Input 1 :
 3 4
Sample Output 1 :
81
Sample Input 2 :
 2 5
Sample Output 2 :
32

In [8]:
#first method
x,n = map(int,input().split())
if x==0 and n==0:
    print(1)
elif x==0 or n==0:
    print(0)
else:
    print(x**n)

2 5
32

In [9]:
#second method
x = int(input("Enter the number"))
n = int(input("Enter the power for the number"))
#base case
if (x==0 or n==0):
    print(1)
    
else:
    print(x**n)

Enter the number0
Enter the power for the number123
1

##### Alpha Pattern

Print the following pattern for the given N number of rows.
Pattern for N = 3
 A
 BB
 CCC
Input format :
Integer N (Total no. of rows)
Output format :
Pattern in N lines
Constraints
0 <= N <= 26
Sample Input 1:
7
Sample Output 1:
A
BB
CCC
DDDD
EEEEE
FFFFFF
GGGGGGG

Sample Input 2:
6
Sample Output 2:
A
BB
CCC
DDDD
EEEEE
FFFFFF

In [19]:
x = int(input())
asci = 65
for i in range(1,x+1):
    for j in range(1,i+1):
        print(chr(i+64),end='')
    print()

7
A
BB
CCC
DDDD
EEEEE
FFFFFF
GGGGGGG

##### All prime numbers

Given an integer N, print all the prime numbers that lie in the range 2 to N (both inclusive).

Print the prime numbers in different lines.

Input Format :

Integer N

Output Format :

Prime numbers in different lines

Constraints :

1 <= N <= 100

Sample Input 1:

9

Sample Output 1:

2

3

5

7









Sample Input 2:

20

Sample Output 2:

2

3

5

7

11

13

17

19

In [23]:
def isPrime(n):
    if n==2 or n==3:
        return n
    for i in range(2,n):
        if n%i ==0:
            return False
        return True
    

a = int(input())
for i in range(2,a+1):
        if isPrime(i):
            print(i)

9
2
3
5
7
9

##### Arithmetic Progression

You are given first three entries of an arithmetic progression. You have to calculate the common difference and print it.
Input format:
The first line of input contains an integer a (1 <= a <= 100)
The second line of input contains an integer b (1 <= b <= 100) 
The third line of input contains an integer c (1 <= c <= 100) 
Constraints:
Time Limit: 1 second
Output format:
The first and only line of output contains the result.  
Sample Input:
1
3
5
Sample Output:
2

In [29]:

def ap(a,b,c):
    x = b-a
    y = c-b
    if x == y:
        return x
    
    
a = int(input())
b = int(input())
c = int(input())

print(ap(a,b,c))

5
10
15
5

##### Rectangular Area

You are given a rectangle in a plane. The corner coordinates of this rectangle is provided to you. You have to print the amount of area of the plane covered by this rectangles.
The end coordinates are provided as four integral values: x1, y1, x2, y2. It is given that x1 < x2 and y1 < y2.
Input format:
The first line of input contains an integer x1 (1 <= x1 <= 10)
The second line of input contains an integer y1 (1 <= y1 <= 10) 
The third line of input contains an integer x2 (1 <= x2 <= 10)
The fourth line of input contains an integer y2 (1 <= y2 <= 10) 
Constraints:
Time Limit: 1 second
Output format:
The first and only line of output contains the result.  
Sample Input:
1
1
3
3
Sample Output:
4

In [32]:
def rect(a,b,c,d):
    length = c-a
    breadth = d-b
    return length*breadth

x1 = int(input())
y1 = int(input())
x2 = int(input())
y2 = int(input())
print(rect(x1,y1,x2,y2))

3
10
8
15
25

##### Sum of n numbers

Given an integer n, find and print the sum of numbers from 1 to n.
Note : Use while loop only.
Input Format :
Integer n
Output Format :
Sum
Constraints :
1 <= n <= 100
Sample Input :
10
Sample Output :
55

In [34]:
def sumof(n):
    total = 0
    i=1
    while i<=n:
        total+=i
        i+=1
    return total

x = int(input())
print(sumof(x))

10
55

##### Sum of Even Numbers

Given a number N, print sum of all even numbers from 1 to N.
Input Format :
Integer N
Output Format :
Required Sum 
Sample Input 1 :
 6
Sample Output 1 :
12

In [36]:
def evenSum(n):
    total = 0
    for i in range(n+1):
        if i%2==0:
            total+=i
    return total

x = int(input())
print(evenSum(x))

6
12

##### Fahrenheit to Celsius

Given three values - Start Fahrenheit Value (S), End Fahrenheit value (E) and Step Size (W), you need to convert 
all Fahrenheit values from Start to End at the gap of W, into their corresponding Celsius values and print the 
table.

Input Format :

3 integers - S, E and W respectively 

Output Format :

Fahrenheit to Celsius conversion table. One line for every Fahrenheit and corresponding Celsius value. On 
Fahrenheit value and its corresponding Celsius value should be separate by tab ("\t")

Constraints :

0 <= S <= 80

S <= E <=  900

0 <= W <= 40 

Sample Input 1:

0 

100 

20

Sample Output 1:

0   -17

20  -6

40  4

60  15

80  26

100 37

Sample Input 2:

20

119

13

Sample Output 2:

20  -6

33  0 

46  7

59  15

72  22

85  29

98  36

111 43

Explanation For Input 2:

We need need to start calculating the Celsius values for each of the Fahrenheit Value which starts from 20. 
So starting from 20 which is the given Fahrenheit start value, we need to compute its corresponding Celsius 
value which computes to -6. We print this information as <Fahrenheit Value> a tab space"\t" <Celsius Value> on 
each line for each step of 13 we take to get the next value of Fahrenheit and extend this idea till we reach 
the end that is till 119 in this case. You may or may not exactly land on the end value depending on the 
steps you are taking.

In [50]:
def tempConversion(S,E,W):
    for i in range(S,E+1,W):
        celsius = ((i-32)*5)/9
        #celsius = ((i-32))/1.8
        print(i,"\t",(celsius))

s = int(input())
e = int(input())
w = int(input())
tempConversion(s,e,w)

20
119
13
20 	 -6.666666666666667
33 	 0.5555555555555556
46 	 7.777777777777778
59 	 15.0
72 	 22.22222222222222
85 	 29.444444444444443
98 	 36.666666666666664
111 	 43.888888888888886

##### Sum of n numbers

Given an integer n, find and print the sum of numbers from 1 to n.
Note : Use while loop only.
Input Format :
Integer n
Output Format :
Sum
Constraints :
1 <= n <= 100
Sample Input :
10
Sample Output :
55

In [4]:
def sum_n(n):
    res = 0
    i=0
    while i<= n:
        res +=i
        i+=1
    return res

result = sum_n(100)
result

5050

##### Sum of n even numbers

In [8]:
def evenSum(n):
    res = 0
    i = 1
    while i<=n:
        if i%2==0:
            res+=i
            i+=1
        else:
            i+=1
    return res

result = evenSum(6)
result

12

##### Primality Checking

In [20]:
def checkPrime(n):
    if n>2:
        d = 2
        flag = False
        while d<n:
            if n%d==0:
                flag=True
            d+=1
        if flag:
            print("Not Prime")
        else:
            print("Prime")
    
    else:
        if (n==2 or n==1):
            print("Prime ")
            
checkPrime(10)

Not Prime

In [16]:
def primality(num):
    if num==1 or num==2 or num==3:
        return 'Prime Number'
    else:
        if (num%2==0) or (num%3==0) or (num%15==0):
            return 'Not Prime'
        else:
            return 'Prime Number'
    
    
result = primality(15)
result

'Not Prime'

##### Calculator

Write a program that performs the tasks of a simple calculator. The program should first take an integer as 
input and then based on that integer perform the task as given below.

1. If the input is 1, then 2 integers are taken from the user and their sum is printed.

2. If the input is 2, then 2 integers are taken from the user and their difference(1st number - 2nd number) is 
printed.

3. If the input is 3, then 2 integers are taken from the user and their product is printed.

4. If the input is 4, then 2 integers are taken from the user and the quotient obtained (on dividing 1st number 
   by 2nd number) is printed.

5. If the input is 5, then 2 integers are taken from the user and their remainder(1st number mod 2nd number) is    printed.

6. If the input is 6, then the program exits.

7. For any other input, then print "Invalid Operation".

Note: Each answer in next line.

Input format:

Take integers as input, in accordance to the description of the question. 

Constraints:

Time Limit: 1 second

Output format:

The output lines must be as prescribed in the description of the question.

Sample Input:

3

1

2

4

4

2

1

3

2

7

6

Sample Output:

2

2

5

Invalid Operation

Explanation of the sample input

The first number given is 3, so that means two more numbers will be given and we'll have to multiply them and 
show the result. The two numbers are 1 and 2. Their product is 2, so 2 is displayed first in the output. 
Similarly, all the numbers are processed in groups of three. The first number tells the operation and the next 
two numbers tell on which numbers the operation is done. This applies to numbers from 1 to 5. If the input is 6 
(like it is at the end), two more numbers will NOT be provided, you simply have to exit the program. Also, if 
the input is any number except 1 to 6 (like 7 which is at the second last), then you simply have to print 
"Invalid Operation"

In [32]:

def calc(a,b,c):
    if (a==1):
        print(b+c)
    elif (a==2):
        print(b-c)
    elif (a==3):
        print(b*c)
    elif (a==4):
        print(b//c)
    elif (a==5):
        print(b%c)
    elif (a==6):
        return
    else:
        print("Invalid Operation")

In [35]:
n = int(input("""Enter the number as per below:
        1: sum
     2:difference
     3:multiply
     4: quotient
     5: remainder
     6: exit"""))
a = int(input("First number: "))
b = int(input("Second number: "))
calc(n,a,b)

Enter the number as per below:
        1: sum
     2:difference
     3:multiply
     4: quotient
     5: remainder
     6: exit1
First number: 2
Second number: 2
4

##### Reverse of a number

Write a program to generate the reverse of a given number N. Print the corresponding reverse number.
Note : If a number has trailing zeros, then its reverse will not include them. For e.g., reverse of 10400 will 
be 401 instead of 00401.

Input format :
Integer N
Output format :
Corresponding reverse number
Constraints:
0 <= N < 10^8
Sample Input 1 :
1234
Sample Output 1 :
4321
Sample Input 2 :
1980
Sample Output 2 :
891

In [2]:
def reverse(n):
    result=0
    temp = n
    while temp>0:
        lastdigit=temp%10
        temp=temp//10
        result = result*10+lastdigit
    print(result)

num = int(input())
reverse(num)

1900100
10091

##### Remove Character (Practice)

In [9]:
def removeChar(a,x):
    
    if(len(a)==0):
        return a
    new = removeChar(a[1:],x)
    if a[0]==x:
        return ""+new
    else:
        return a[0]+new

In [12]:
removeChar("abanamauaia","a")

'bnmui'

In [16]:
def throw(a,x):
    if len(a)==0:
        return a
    new = ""
    for i in range(len(a)):
        if a[i]==x:
            new+=""
        else:
            new+=a[i]
    return new

a="anmol bansal"
result = throw(a,"a")
result

'nmol bnsl'

##### Palindrome checker

Write a program to determine if given number is palindrome or not. Print true if it is palindrome, false otherwise.
Palindrome are the numbers for which reverse is exactly same as the original one. For eg. 121
Sample Input 1 :
121
Sample Output 1 :
true
Sample Input 2 :
1032
Sample Output 2 :
false

In [31]:
#created a reverse copy of the num and then compared it with the original num
def isPalindrome(n):
    rev=""
    for i in range(len(n)-1,-1,-1):
        rev+=n[i]
    if rev == n:
        return True
    else:
        return False

In [37]:
isPalindrome("123021")

False

##### Sum of even & odd

Write a program to input an integer N and print the sum of all its even digits and sum of all its odd digits separately.
Digits mean numbers, not the places! That is, if the given integer is "13245", even digits are 2 & 4 and odd digits are 1, 3 & 5.
Input format :
 Integer N
Output format :
Sum_of_Even_Digits Sum_of_Odd_Digits
(Print first even sum and then odd sum separated by space)
Constraints
0 <= N <= 10^8
Sample Input 1:
1234
Sample Output 1:
6 4
Sample Input 2:
552245
Sample Output 2:
8 15
Explanation for Input 2:
For the given input, the even digits are 2, 2 and 4 and if we take the sum of these digits it will come out to be 8(2 + 2 + 4) and similarly, if we look at the odd digits, they are, 5, 5 and 5 which makes a sum of 15(5 + 5 + 5). Hence the answer would be, 8(evenSum) <single space> 15(oddSum)

In [40]:
def Even_Odd(n):
    even=0
    odd=0
    temp = n
    num=''
    while temp>0:
        num = temp%10
        temp=temp//10
        if num%2==0:
            even+=num
        else:
            odd+=num
    return even, odd

In [42]:
Even_Odd(12345)

(6, 9)

##### Nth Fibonacci number

Nth term of fibonacci series F(n) is calculated using following formula -
    F(n) = F(n-1) + F(n-2), 
    Where, F(1) = F(2) = 1
Provided N you have to find out the Nth Fibonacci Number.
Input Format :
Integer n
Output Format :
Nth Fibonacci term i.e. F(n)
Constraints:
1 <= n <= 25
Sample Input 1:
4
Sample Output 2:
3 
Sample Input 1:
6
Sample Output 2:
8

In [56]:
def NthFib(n):
    if n==1 or n==2:
        return 1
    elif n<=0:
        return 
    #finding nth fib using recursion
    a = NthFib(n-1)
    b = NthFib(n-2)
    return a+b

NthFib(int(input()))

7

13

In [63]:
#without recursion
def nFib(n):
    a = 1 
    b=1
    for i in range(1,n):
        c=a+b
        a=b
        b=c
    return a

nFib(7)

13

##### Code : Square Pattern

Print the following pattern for the given N number of rows.
Pattern for N = 4
4444
4444
4444
4444
Input format :
Integer N (Total no. of rows)
Output format :
Pattern in N lines
Constraints
0 <= N <= 50
Sample Input 1:
7
Sample Output 1:
7777777
7777777
7777777
7777777
7777777
7777777
7777777
Sample Input 1:
6
Sample Output 1:
666666
666666
666666
666666
666666
666666

In [3]:
n=int(input())
for i in range(n):
    for j in range(n):
        print(n,end='')
    print()

4
4444
4444
4444
4444

1

12

123

1234

In [8]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end='')
    print()

4
1
12
123
1234

1

23

345

4567

In [9]:
n=int(input())
for i in range(1,n+1):
    for j in range(i):
        print(i+j,end='')
    print()

4
1
23
345
4567

1

23

456

78910

In [10]:
n=int(input())
num=1
for i in range(1,n+1):
    for j in range(1,i+1):
        print(num,end='')
        num+=1
    print()

4
1
23
456
78910

##### Code : Triangular Star Pattern

Print the following pattern for the given N number of rows.
Pattern for N = 4

*

**

***

****

Note : There are no spaces between the stars (*).
Input format :
Integer N (Total no. of rows)
Output format :
Pattern in N lines
Constraints
0 <= N <= 50
Sample Input 1:
5

Sample Output 1:

*

**

***

****

*****

Sample Input 2:
6
Sample Output 2:

*

**

***

****

*****

******

In [15]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        print("*",end='')
    print()

6
*
**
***
****
*****
******

In [16]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i,end='')
    print()

4
1
22
333
4444

##### Code : Reverse Number Pattern

Print the following pattern for the given N number of rows.
Pattern for N = 4
1
21
321
4321
Input format :
Integer N (Total no. of rows)
Output format :
Pattern in N lines
Constraints
0 <= N <= 50
Sample Input 1:
5
Sample Output 1:
1
21
321
4321
54321
Sample Input 2:
6
Sample Output 2:
1
21
321
4321
54321
654321

In [18]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i-j+1,end='')
    print()

4
1
21
321
4321

#### Character Patterns

In [19]:
n=int(input())
x=ord("A")
for i in range(1,n+1):
    for j in range(1,n+1):
        print(chr(x+j-1),end='')
    print()

4
ABCD
ABCD
ABCD
ABCD

In [33]:
n=int(input())
x=ord("A")
for i in range(1,n+1):
    for j in range(1,n+1):
        print(chr(x+i+j-2),end='')
    print()

4
ABCD
BCDE
CDEF
DEFG

In [36]:
n=int(input())
i=1
while i<=n:
    startChar=chr(ord("A")+i-1)
    j=1
    while j<=n:
        print(chr(ord(startChar)+j-1),end='')
        j+=1
    i+=1
    print()

4
ABCD
BCDE
CDEF
DEFG

##### Code : Character Pattern

Print the following pattern for the given N number of rows.
Pattern for N = 4
A
BC
CDE
DEFG
Input format :
Integer N (Total no. of rows)
Output format :
Pattern in N lines
Constraints
0 <= N <= 13
Sample Input 1:
5
Sample Output 1:
A
BC
CDE
DEFG
EFGHI
Sample Input 2:
6
Sample Output 2:
A
BC
CDE
DEFG
EFGHI
FGHIJK

In [11]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        print(chr(ord("A")+i+j-2),end='')
    print()

5
A
BC
CDE
DEFG
EFGHI

##### Code : Interesting Alphabets

Print the following pattern for the given number of rows.
Pattern for N = 5
E
DE
CDE
BCDE
ABCDE
Input format :
N (Total no. of rows)
Output format :
Pattern in N lines
Constraints
0 <= N <= 26














Sample Input 1:
8
Sample Output 1:
H
GH
FGH
EFGH
DEFGH
CDEFGH
BCDEFGH
ABCDEFGH
Sample Input 2:
7
Sample Output 2:
G
FG
EFG
DEFG
CDEFG
BCDEFG
ABCDEFG

In [4]:
n=int(input())
for i in range(1,n+1):
    for j in range(n-i+1,n+1):
        print(chr(ord("A")+j-1),end='')
    print()

5
E
DE
CDE
BCDE
ABCDE

##### Number Pattern 1

Print the following pattern for the given N number of rows.
Pattern for N = 4

1

11

111

1111

Input format :
Integer N (Total no. of rows)
Output format :
Pattern in N lines
Sample Input :
5
Sample Output :

1

11

111

1111

11111

In [10]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        print(1,end='')
    print()

5
1
11
111
1111
11111

##### Number Pattern 2

Print the following pattern for the given N number of rows.
Pattern for N = 4

1

11

202

3003

Input format :
Integer N (Total no. of rows)
Contraints:
1 <= n <= 50
Output format :
Pattern in N lines
Sample Input :
5
Sample Output :

1

11


202

3003

40004

In [21]:
n=int(input())
for i in range(0,n):
    if i==0:
        #to print 1 at the first line
        print(1,end='')
    else:
        print(i,end='')
        #to print 0s
        for j in range(0,i-1):
            print(0,end='')
        #to print i at the last 
        for k in range(i-1,i):
            print(i,end='')
    print()

5
1
11
202
3003
40004

##### Number Pattern 3

Print the following pattern for the given N number of rows.
Pattern for N = 4

1

11

121

1221

Input format :
Integer N (Total no. of rows)
Output format :
Pattern in N lines
Sample Input :
5
Sample Output :

1

11

121

1221

12221

In [20]:
n=int(input())
for i in range(0,n):
    if i==0:
        #to print just 1 at the first line
        print(1,end='')
    else:
        print(1,end='')
        #printing 2s
        for j in range(0,i-1):
            print(2,end='')
        #printing 1 at the last 
        for k in range(i-1,i):
            print(1,end='')
    print()

5
1
11
121
1221
12221

##### Number Pattern

Print the following pattern for the given N number of rows.
Pattern for N = 4

1234

123

12

1

Input format :
Integer N (Total no. of rows)
Output format :
Pattern in N lines
Sample Input :
5
Sample Output :

12345

1234

123

12

1

In [25]:
n=int(input())
for i in range(0,n):
    for j in range(1,n-i+1):
        print(j,end='')
    print()

5
12345
1234
123
12
1

##### Alpha Pattern

Print the following pattern for the given N number of rows.
Pattern for N = 3

A

BB

CCC

Input format :
Integer N (Total no. of rows)
Output format :
Pattern in N lines
Constraints
0 <= N <= 26
Sample Input 1:
7
Sample Output 1:

A

BB

CCC

DDDD

EEEEE

FFFFFF

GGGGGGG

Sample Input 2:
6
Sample Output 2:

A

BB

CCC

DDDD

EEEEE

FFFFFF

In [1]:
n=int(input())
for i in range(0,n):
    for j in range(0,i+1):
        print(chr(ord("A")+i),end='')
    print()

5
A
BB
CCC
DDDD
EEEEE

In [2]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,n-i+1):
        print("*",end='')
    print()

5
****
***
**
*

In [8]:
#Mirror pattern using for loop
n=int(input())
for i in range(1,n+1):
    #for spaces
    for j in range(1,n-i+1):
        print(" ",end='')
    #for stars
    for k in range(1,i+1):
        print("*",end='')
    print()

4
   *
  **
 ***
****

In [13]:
#Mirror pattern using while loop
n=int(input())
i=1
while i<=n:
    spaces=1
    while spaces<=n-i:
        print(" ",end='')
        spaces+=1;
    stars=1
    while stars<=i:
        print("*",end='')
        stars+=1;
    print()
    i+=1

4
   *
  **
 ***
****

In [29]:
#Isosceles Triangle
n=int(input())
for i in range(1,n+1):
    #spaces
    for spc in range(1,n-i+1):
        print(" ",end='')
    #increasing number
    for inc in range(1,i+1):
        print(inc,end='')
    #decreasing number
    for dec in range(1,i):
        print(i-dec,end='')
    print()

5
    1
   121
  12321
 1234321
123454321

In [25]:
#Isosceles Triangle While loop

n=int(input())
i=1
while i<=n:
    spaces=1
    while spaces<=n-i:
        print(" ",end='')
        spaces+=1
    increasing_num =1
    while increasing_num<=i:
        print(increasing_num,end='')
        increasing_num+=1
    decreasing_num=1
    while decreasing_num<i:
        print(i-decreasing_num,end='')
        decreasing_num+=1
    print()
    i+=1

5
    1
   121
  12321
 1234321
123454321

In [26]:
for i in range(1,100):
    if i%2==0:
        pass
        print(i,end=' ')
    else:
        print(i,end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

##### Fahrenheit to Celsius Function

Given three values - Start Fahrenheit Value (S), End Fahrenheit value (E) and Step Size (W), you need to convert all Fahrenheit values from Start to End at the gap of W, into their corresponding Celsius values and print the table.
Input Format :
3 integers - S, E and W respectively
Output Format :
Fahrenheit to Celsius conversion table. One line for every Fahrenheit and Celsius Fahrenheit value. Fahrenheit value and its corresponding Celsius value should be separate by tab ("\t")
Constraints :
0 <= S <= 1000
0 <= E <= 1000
0 <= W <= 1000
Sample Input 1:
0 
100 
20
Sample Output 1:
0   -17
20  -6
40  4
60  15
80  26
100 37
Sample Input 2:
120 
200 
40
Sample Output 2:
120 48
160 71
200 93
Explanation for Sample Output 2 :
Start value is 120, end value is 200 and step size is 40. Therefore, the values we need to convert are 120, 120 + 40 = 160, and 160 + 40 = 200. 



The formula for converting Fahrenheit to Celsius is:
##### Celsius Value = (5/9)*(Fahrenheit Value - 32)  
Plugging 120 into the formula, the celsius value will be (5 / 9)*(120 - 32) => (5 / 9) * 88 => (5 * 88) / 9 => 440 / 9 => 48.88
But we'll only print 48 because we are only interested in the integral part of the value.

In [8]:
def FahrenToCel(s,e,w):
    for i in range(s,e,w):
        celsius = (5/9)*(i-32)
        print(celsius,"\t",i)

FahrenToCel(0,100,20)

-17.77777777777778 	 0
-6.666666666666667 	 20
4.444444444444445 	 40
15.555555555555557 	 60
26.666666666666668 	 80

##### Fibonacci Member

Given a number N, figure out if it is a member of fibonacci series or not. Return true if the number is member of fibonacci series else false.
Fibonacci Series is defined by the recurrence
    F(n) = F(n-1) + F(n-2)
where F(0) = 0 and F(1) = 1

Input Format :
Integer N
Output Format :
true or false
Constraints :
0 <= n <= 10^4
Sample Input 1 :
5
Sample Output 1 :
true
Sample Input 2 :
14
Sample Output 2 :
false

In [17]:
def checkFibonacci(n):
    if n>0:
        if n==1 or n==2:
            print(True)
            
        else:
            a=0
            b=1
            summ=0
            while a<n:
                summ=a+b
                a=b
                b=summ
            if a==n:
                print(True)
            else:
                print(False)
    else:
        print("Enter value greater than 0")
        
checkFibonacci(int(input()))

1
True

In [46]:
# using recursion

def FibRecursion(n):
    if n<1:
        return n
    else:
        return (checkFib(n-1) + checkFib(n-2))
    
FibRecursion(int(input()))

5

5

##### Palindrome number

Write a program to determine if given number is palindrome or not. Print true if it is palindrome, false otherwise.
Palindrome are the numbers for which reverse is exactly same as the original one. For eg. 121
Sample Input 1 :
121
Sample Output 1 :
true
Sample Input 2 :
1032
Sample Output 2 :
false

In [2]:
def palindromeNumber(num):
    temp=num
    res=0
    while temp>0:
        div=temp%10
        res=res*10+div
        temp=temp//10
    if num == res:
        print("Yes")
    else:
        print("No")

number=int(input())
palindromeNumber(number)

121
Yes

In [19]:
def recursive_palindrome(temp, res):
    if temp==0:
        return res
    
    res=res*10+(temp%10)
    temp=temp//10
    return recursive_palindrome(temp,res)
    
num=1234543210
result=recursive_palindrome(num,0)
if result==num:
    print("Palindrome")
else:
    print("Not")

Not

##### Check Armstrong

Write a Program to determine if the given number is Armstrong number or not. Print true if number is armstrong, otherwise print false.
An Armstrong number is a number (with digits n) such that the sum of its digits raised to nth power is equal to the number itself.
For example,
371, as 3^3 + 7^3 + 1^3 = 371
1634, as 1^4 + 6^4 + 3^4 + 4^4 = 1634
Input Format :
Integer n
Output Format :
true or false
Sample Input 1 :
1
Sample Output 1 :
true
Sample Input 2 :
103
Sample Output 2 :
false

In [6]:
def armstrong(num,n):
    summ=0
    while num>0:
        a=num%10
        summ += a**n
        num = num//10
    return summ

number=int(input())
x=int(input())
result = armstrong(number,x)
if number == result:
    print("Armstrong")
else:
    print("Not")

103
3
Not

In [13]:
#
li=[]
for i in range(int(input())):
    li.append(input())
print(li)

3
1
2
3
['1', '2', '3']

In [25]:
li=[int(x) for x in input().split()]
li

1 2 3 4

[1, 2, 3, 4]

Linear Search in list

In [33]:
def linear_search(li,n):
    for i in range(n):
        if li[i] == find:
            return i
    return -1


n=int(input())
li=[int(x) for x in input().split()]
find=int(input("Find"))
result=linear_search(li,n)
print(result)

5
1 2 3 9 0
Find1
0

##### Swap Alternate

You have been given an array/list(ARR) of size N. You need to swap every pair of alternate elements in the array/list.
You don't need to print or return anything, just change in the input array itself.
Input Format :
The first line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow.

First line of each test case or query contains an integer 'N' representing the size of the array/list.

Second line contains 'N' single space separated integers representing the elements in the array/list.
Output Format :
For each test case, print the elements of the resulting array in a single row separated by a single space.

Output for every test case will be printed in a separate line.
Constraints :
1 <= t <= 10^2
0 <= N <= 10^5
Time Limit: 1sec
Sample Input 1:
1
6
9 3 6 12 4 32
Sample Output 1 :
3 9 12 6 32 4
Sample Input 2:
2
9
9 3 6 12 4 32 5 11 19
4
1 2 3 4
Sample Output 2 :
3 9 12 6 32 4 11 5 19 
2 1 4 3

In [4]:
def swap_alternate(li,n):
    for i in range(0,n,2):
        temp = li[i]
        li[i]=li[i+1]
        li[i+1]=temp
    return



t=int(input("Test cases: "))
while t>0:
    n=int(input("array size: "))
    li = [int(x) for x in input().split()]
    swap_alternate(li,n)
    print(li)
    t-=1

Test cases: 2
array size: 2
1 2
[2, 1]
array size: 2
3 4
[4, 3]

##### Reverse List

In [9]:
def reverse(li):
    length = len(li)
    for i in range(length//2):
        li[i],li[length-i-1]=li[length-i-1],li[i]
        #using negative indexing
        #li[i],li[-i-1]=li[-i-1],li[i]1
    return li

li=[1,2,3,4,5,6,7,8]
li=reverse(li)
print(len(li))
print(li)

8
[8, 7, 6, 5, 4, 3, 2, 1]

##### Find Unique

You have been given an integer array/list(ARR) of size N. Where N is equal to [2M + 1].
Now, in the given array/list, 'M' numbers are present twice and one number is present only once.
You need to find and return that number which is unique in the array/list.
 Note:
Unique element is always present in the array/list according to the given condition.
Input format :
The first line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow.

First line of each test case or query contains an integer 'N' representing the size of the array/list.

Second line contains 'N' single space separated integers representing the elements in the array/list.
Output Format :
For each test case, print the unique element present in the array.

Output for every test case will be printed in a separate line.
Constraints :
1 <= t <= 10^2
0 <= N <= 10^3
Time Limit: 1 sec
Sample Input 1:
1
7
2 3 1 6 3 6 2
Sample Output 1:
1
Sample Input 2:
2
5
2 4 7 2 7
9
1 3 1 3 6 6 7 10 7
Sample Output 2:
4
10

In [22]:
def find_unique(li,n):
    for i in range(n):
        flag = False
        for j in range(n):
            if (i!=j): 
                if li[i]==li[j]:
                    flag=True
                    break
        if (flag is False):
            return li[i]
    
N=int(input("Size of array: "))
li=[ int(x) for x in input().split()]
result = find_unique(li,N)
print(result)

Size of array: 5
2 4 7 2 7
4

In [3]:
#USING HASHMAPS
def find_unique(arr):
    frequency={}
    for ele in arr:
        frequency[ele]=frequency.get(ele,0)+1
    for key,value in frequency.items():
        if value==1:
            return key
    return -1

find_unique([2,4,7,4,7])

2

##### Find Duplicate

You have been given an integer array/list(ARR) of size N which contains numbers from 0 to (N - 2). Each number is present at least once. That is, if N = 5, the array/list constitutes values ranging from 0 to 3 and among these, there is a single integer value that is present twice. You need to find and return that duplicate number present in the array.
Note :
Duplicate number is always present in the given array/list.
Input format :
The first line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow.

First line of each test case or query contains an integer 'N' representing the size of the array/list.

Second line contains 'N' single space separated integers representing the elements in the array/list.
Output Format :
For each test case, print the duplicate element in the array/list.

Output for every test case will be printed in a separate line.
Constraints :
1 <= t <= 10^2
0 <= N <= 10^3
Time Limit: 1 sec
Sample Input 1:
1
9
0 7 2 5 4 7 1 3 6
Sample Output 1:
7
Sample Input 2:
2
5
0 2 1 3 1
7
0 3 1 5 4 3 2
Sample Output 2:
1
3

In [28]:
def find_duplicate(li,n):
    for i in range(n):
        for j in range(n):
            if i != j:
                if li[i]==li[j]:
                    return li[i]


N=int(input("Size: "))
li = [ int(x) for x in input().split()]
result = find_duplicate(li,N)
print(result)

Size: 7
0 3 1 5 4 3 2
3

In [4]:
#USING HASHMAP
def findDup(arr):
    freq={}
    for ele in arr:
        freq[ele]=freq.get(ele,0)+1
    for key,value in freq.items():
        if value>1:
            return key
    return -1

findDup([0,3,1,5,4,3,2])

3

##### Array Intersection

You have been given two integer arrays/list(ARR1 and ARR2) of size M and N, respectively. You need to print their intersection; An intersection for this problem can be defined when both the arrays/lists contain a particular value or to put it in other words, when there is a common value that exists in both the arrays/lists.
Note :
Input arrays/lists can contain duplicate elements.

The intersection elements printed would be in the order they appear in the first array/list(ARR1)

Input format :
The first line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow.

First line of each test case or query contains an integer 'N' representing the size of the first array/list.

Second line contains 'N' single space separated integers representing the elements of the first the array/list.

Third line contains an integer 'M' representing the size of the second array/list.

Fourth line contains 'M' single space separated integers representing the elements of the second array/list.
Output format :
For each test case, print the intersection elements in a row, separated by a single space.

Output for every test case will be printed in a separate line.
Constraints :
1 <= t <= 10^2
0 <= N <= 10^5
0 <= M <= 10^5
Time Limit: 1 sec 
Sample Input 1 :
2
6
2 6 8 5 4 3
4
2 3 4 7 
2
10 10
1
10
Sample Output 1 :
2 4 3

In [32]:
def intersection(l1,n,l2,m):
    res=[]
    for ele in l1:
        for elem in l2:
            if ele == elem:
                res.append(ele)
                break
    return res
    

N=int(input("Size of array 1: "))
l1=[int(x) for x in input().split()]
M=int(input("Size of array 2: "))
l2=[int(x) for x in input().split()]
result = intersection(l1,N,l2,M)
for ele in result:
    print(ele, end=' ')

Size of array 1: 4
2 6 1 6
Size of array 2: 5
1 2 3 4 6
2 6 1 6

##### Pair Sum

You have been given an integer array/list(ARR) and a number X. Find and return the total number of pairs in the array/list which sum to X.
Note:
Given array/list can contain duplicate elements. 
Input format :
The first line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow.

First line of each test case or query contains an integer 'N' representing the size of the first array/list.

Second line contains 'N' single space separated integers representing the elements in the array/list.

Third line contains an integer 'X'.
Output format :
For each test case, print the total number of pairs present in the array/list.

Output for every test case will be printed in a separate line.
Constraints :
1 <= t <= 10^2
0 <= N <= 10^3
0 <= X <= 10^9
Time Limit: 1 sec
Sample Input 1:
1
9
1 3 6 2 5 4 3 2 4
7
Sample Output 1:
7
Sample Input 2:
2
9
1 3 6 2 5 4 3 2 4
12
6
2 8 10 5 -2 5
10
Sample Output 2:
0
2

 Explanation for Input 2:
Since there doesn't exist any pair with sum equal to 12 for the first query, we print 0.

For the second query, we have 2 pairs in total that sum up to 10. They are, (2, 8) and (5, 5).

In [35]:
def pairsum(li,n,x):
    count=0
    for i in range(n):
        for j in range(i+1,n):
            if li[i]+li[j]== x:
                count+=1
    return count


N=int(input("Enter size of array: "))
ar=[int(x) for x in input().split()]
X=int(input("Enter the sum: "))
result=pairsum(ar,N,X)
print(result)

Enter size of array: 9
1 3 6 2 5 4 3 2 4
Enter the sum: 7
7

##### Triplet Sum

You have been given a random integer array/list(ARR) and a number X. Find and return the number of triplets in the array/list which sum to X.
Note :
Given array/list can contain duplicate elements.
Input format :
The first line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow.

First line of each test case or query contains an integer 'N' representing the size of the first array/list.

Second line contains 'N' single space separated integers representing the elements in the array/list.

Third line contains an integer 'X'.
Output format :
For each test case, print the total number of triplets present in the array/list.

Output for every test case will be printed in a separate line.
Constraints :
1 <= t <= 50
0 <= N <= 10^2
0 <= X <= 10^9
Time Limit: 1 sec
Sample Input 1:
1
7
1 2 3 4 5 6 7 
12
Sample Output 1:
5
Sample Input 2:
2
7
1 2 3 4 5 6 7 
19
9
2 -5 8 -6 0 5 10 11 -3
10
Sample Output 2:
0
5

 





Explanation for Input 2:
Since there doesn't exist any triplet with sum equal to 19 for the first query, we print 0.

For the second query, we have 5 triplets in total that sum up to 10. They are, (2, 8, 0), (2, 11, -3), (-5, 5, 10), (8, 5, -3) and (-6, 5, 11)

In [38]:
def tripletsum(ar,n,x):
    count=0
    for i in range(n):
        for j in range(i+1,n):
            for k in range(j+1,n):
                if ar[i]+ar[j]+ar[k]==x:
                    count+=1
    return count


N=int(input("Enter array size: "))
ar=[int(x) for x in input().split()]
X=int(input("Target sum: "))
result=tripletsum(ar,N,X)
print(result)

Enter array size: 7
1 2 3 4 5 6 7
Target sum: 12
5

##### Sort 0 1

You have been given an integer array/list(ARR) of size N that contains only integers, 0 and 1. Write a function to sort this array/list. Think of a solution which scans the array/list only once and don't require use of an extra array/list.
Note:
You need to change in the given array/list itself. Hence, no need to return or print anything. 
Input format :
The first line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow.

First line of each test case or query contains an integer 'N' representing the size of the array/list.

Second line contains 'N' single space separated integers(all 0s and 1s) representing the elements in the array/list.
Output format :
For each test case, print the sorted array/list elements in a row separated by a single space.

Output for every test case will be printed in a separate line.
Constraints :
1 <= t <= 10^2
0 <= N <= 10^5
Time Limit: 1 sec
Sample Input 1:
1
7
0 1 1 0 1 0 1
Sample Output 1:
0 0 0 1 1 1 1
Sample Input 2:
2
8
1 0 1 1 0 1 0 1
5
0 1 0 1 0
Sample Output 2:
0 0 0 1 1 1 1 1
0 0 0 1 1

In [42]:
def sort01(ar,n):
    for i in range(n):
        if ar[i]==1:
            for j in range(i+1,n):
                if ar[j]==0:
                    ar[i],ar[j]=ar[j],ar[i]
    return ar

n=int(input("Array Size: "))
ar=[int(x) for x in input().split()]
result=sort01(ar,n)
print(result)

Array Size: 8
1 0 1 1 0 1 0 1
[0, 0, 0, 1, 1, 1, 1, 1]

In [5]:
def sort_0_1(arr):
    for one in range(len(arr)//2):
        if arr[one]==1:
            for zero in range(len(arr)-1,(len(arr)//2)-1,-1):
                if arr[zero]==0:
                    arr[one],arr[zero]=arr[zero],arr[one]
    return arr

sort_0_1(list(map(int,input().split())))

1 0 1 1 0 1 0 1

[0, 0, 0, 1, 1, 1, 1, 1]

In [52]:
#using while loop
def sort_01(arr):
    currPos=0
    zeroPos=0
    while (currPos<len(arr)):
        if (arr[currPos]==0):
            arr[currPos],arr[zeroPos]=arr[zeroPos],arr[currPos]
            zeroPos+=1
        currPos+=1
    return arr
    

li=[int(x) for x in input().split()]
li = sort_01(li)
print(li)

1 0 1 1 0 1 0 1
[0, 0, 0, 1, 1, 1, 1, 1]

##### Code Binary Search

You have been given a sorted(in ascending order) integer array/list(ARR) of size N and an element X. Write a function to search this element in the given input array/list using 'Binary Search'. Return the index of the element in the input array/list. In case the element is not present in the array/list, then return -1.
Input format :
The first line contains an Integer 'N' which denotes the size of the array/list.

Second line contains 'N' single space separated integers representing the elements in the array/list.

Third line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow..

All the 't' lines henceforth, will take the value of X to be searched for in the array/list.
Output Format :
For each test case, print the index at which X is present, -1 otherwise.

Output for every test case will be printed in a separate line.
Constraints :
1 <= t <= 10^4
0 <= N <= 10^6
0 <= X <= 10^9
Time Limit: 1 sec
Sample Input 1:
7
1 3 7 9 11 12 45
1
3
Sample Output 1:
1
Sample Input 2:
7
1 2 3 4 5 6 7
2
9
7
Sample Output 2:
-1
6

In [55]:
def binarySearch(arr,n,x):
    start=0
    end=n-1

    while start<=end:
        mid=(start+end)//2
        if arr[mid]>x:
            end=mid-1
        elif arr[mid]<x:
            start=mid+1
        elif arr[mid]==x:
            return mid
    return -1

N=int(input("Array size: "))
li=[int(x) for x in input().split()]
X=int(input())
result=binarySearch(li,N,X)
print(result)

Array size: 7
1 3 7 9 11 12 45
1
0

##### Selection Sort

In [57]:
def SelSort(arr):
    i=0
    while (i<len(arr)):
        j=i+1
        while (j<len(arr)):
            if arr[i]>arr[j]:
                arr[i],arr[j]=arr[j],arr[i]
            j+=1
        i+=1
    return arr

arr=[int(x) for x in input().split()]
result=SelSort(arr)
print(result)

1 3 2 4 0 6 8
[0, 1, 2, 3, 4, 6, 8]

##### Code Bubble Sort

Provided with a random integer array/list(ARR) of size N, you have been required to sort this array using 'Bubble Sort'.
Note:
Change in the input array/list itself. You don't need to return or print the elements.
Input format :
The first line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow.

First line of each test case or query contains an integer 'N' representing the size of the array/list.

Second line contains 'N' single space separated integers representing the elements in the array/list.
Output format :
For each test case, print the elements of the array/list in sorted order separated by a single space.

Output for every test case will be printed in a separate line.
Constraints :
1 <= t <= 10^2
0 <= N <= 10^3
Time Limit: 1 sec
Sample Input 1:
1
7
2 13 4 1 3 6 28
Sample Output 1:
1 2 3 4 6 13 28
Sample Input 2:
2
5
9 3 6 2 0
4
4 3 2 1
Sample Output 2:
0 2 3 6 9
1 2 3 4

In [62]:
def bubblesort(ar,n):
    for i in range(n-1):
        for j in range(n-i-1):
            if ar[j]>ar[j+1]:
                ar[j],ar[j+1]=ar[j+1],ar[j]
    return ar

n=int(input("size"))
ar=[int(x) for x in input().split()]
res=bubblesort(ar,n)
print(res)

size7
2 13 4 1 3 6 28
[1, 2, 3, 4, 6, 13, 28]

##### Code Insertion Sort

Provided with a random integer array/list(ARR) of size N, you have been required to sort this array using 'Insertion Sort'.
 Note:
Change in the input array/list itself. You don't need to return or print the elements.
 Input format :
The first line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow.

First line of each test case or query contains an integer 'N' representing the size of the array/list.

Second line contains 'N' single space separated integers representing the elements in the array/list.
Output Format :
For each test case, print the elements of the array/list in sorted order separated by a single space.

Output for every test case will be printed in a separate line.
Constraints :
1 <= t <= 10^2
0 <= N <= 10^3
Time Limit: 1 sec
Sample Input 1:
1
7
2 13 4 1 3 6 28
Sample Output 1:
1 2 3 4 6 13 28
Sample Input 2:
2
5
9 3 6 2 0
4
4 3 2 1
Sample Output 2:
0 2 3 6 9
1 2 3 4

In [4]:
def insertion_sort(arr):
    #starting from 2nd element in the array, so that we
    #may compare it with the previous ones.
    for i in range(1,len(arr)):
        temp=arr[i]
        j=i-1
        while (j>=0 and arr[j]>temp):
            arr[j+1]=arr[j]
            j-=1
        arr[j+1]=temp
    return arr

arr=[int(x) for x in input().split()]
result = insertion_sort(arr)
print(result)

9 3 6 2 0
[0, 2, 3, 6, 9]

##### Code Merge Two Sorted Arrays

You have been given two sorted arrays/lists(ARR1 and ARR2) of size N and M respectively, merge them into a third array/list such that the third array is also sorted.
Input Format :
The first line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow.

First line of each test case or query contains an integer 'N' representing the size of the first array/list.

Second line contains 'N' single space separated integers representing the elements of the first array/list.

Third line contains an integer 'M' representing the size of the second array/list.

Fourth line contains 'M' single space separated integers representing the elements of the second array/list.
Output Format :
For each test case, print the sorted array/list(of size N + M) in a single row, separated by a single space.

Output for every test case will be printed in a separate line.
Constraints :
1 <= t <= 10^2
0 <= N <= 10^5
0 <= M <= 10^5
Time Limit: 1 sec 
Sample Input 1 :
1
5
1 3 4 7 11
4
2 4 6 13
Sample Output 1 :
1 2 3 4 4 6 7 11 13 
Sample Input 2 :
2
3
10 100 500
7
4 7 9 25 30 300 450
4
7 45 89 90
0
Sample Output 2 :
4 7 9 10 25 30 100 300 450 500
7 45 89 90

In [11]:
def merge_arr(a,b):
    i=0
    j=0
    res=[]
    #iterating through both the sorted arrays, comparing the elements and then adding the smallest element of 
    #the two to the resultant array.
    while (i<len(a) and j<len(b)):
        if (a[i]<b[j]):
            res.append(a[i])
            i+=1
        elif (a[i]>b[j]):
            res.append(b[j])
            j+=1
        elif (a[i]==b[j]):
            res.append(a[i])
            res.append(b[j])
            i+=1
            j+=1
    
    #to add any leftover elements in either of the two sorted arrays , if array length is not same.
    while i<len(a):
        res.append(a[i])
        i+=1
        
    while j<len(b):
        res.append(b[j])
        j+=1
        
    return res

l1=[int(x) for x in input().split()]
l2=[int(x) for x in input().split()]
result=merge_arr(l1,l2)
print(result)

1 3 4 7 11
2 4 6 13
[1, 2, 3, 4, 4, 6, 7, 11, 13]

##### Push Zeros to end

You have been given a random integer array/list(ARR) of size N. You have been required to push all the zeros that are present in the array/list to the end of it. Also, make sure to maintain the relative order of the non-zero elements.
Note:
Change in the input array/list itself. You don't need to return or print the elements.

You need to do this in one scan of array only. Don't use extra space.

Input format :
The first line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow.

First line of each test case or query contains an integer 'N' representing the size of the array/list.

Second line contains 'N' single space separated integers representing the elements in the array/list.
Output Format :
For each test case, print the elements of the array/list in the desired order separated by a single space.

Output for every test case will be printed in a separate line.
Constraints :
1 <= t <= 10^2
0 <= N <= 10^5
Time Limit: 1 sec
Sample Input 1:
1
7
2 0 0 1 3 0 0
Sample Output 1:
2 1 3 0 0 0 0
 Explanation for the Sample Input 1 :
All the zeros have been pushed towards the end of the array/list. Another important fact is that the order of the non-zero elements have been maintained as they appear in the input array/list.
Sample Input 2:
2
5
0 3 0 2 0
4
9 0 0 8 2
Sample Output 2:
3 2 0 0 0
9 8 2 0 0

In [14]:
def pushZeroToEnd(arr):
    for i in range(len(arr)):
        if arr[i]==0:
            for j in range(i+1,len(arr)):
                if arr[j]!=0:
                    arr[i],arr[j]=arr[j],arr[i]
    return arr

arr=[int(x) for x in input().split()]
result = pushZeroToEnd(arr)
print(result)

9 0 0 8 2
[9, 2, 8, 0, 0]

##### Rotate array

You have been given a random integer array/list(ARR) of size N. Write a function that rotates the given array/list by D elements(towards the left).
 Note:
Change in the input array/list itself. You don't need to return or print the elements.
Input format :
The first line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow.

First line of each test case or query contains an integer 'N' representing the size of the array/list.

Second line contains 'N' single space separated integers representing the elements in the array/list.

Third line contains the value of 'D' by which the array/list needs to be rotated.
Output Format :
For each test case, print the rotated array/list in a row separated by a single space.

Output for every test case will be printed in a separate line.
Constraints :
1 <= t <= 10^4
0 <= N <= 10^6
0 <= D <= N
Time Limit: 1 sec
Sample Input 1:
1
7
1 2 3 4 5 6 7
2
Sample Output 1:
3 4 5 6 7 1 2
Sample Input 2:
2
7
1 2 3 4 5 6 7
0
4
1 2 3 4
2
Sample Output 2:
1 2 3 4 5 6 7
3 4 1 2

In [7]:
def rotate_array(arr,x):
    #temp array to store the elements
    temp=[]
    #loop to store the elements from x by which array is to be rotated
    for i in range(x,len(arr)):
        temp.append(arr[i])
    #loop to store the starting elements till x at the last
    for i in range(x):
        temp.append(arr[i])
    #making main array equal to the temp, as the temp has the arrays rotated accordingly
    arr=temp
    return arr

arr=[1,2,3,4,5,6]
result=rotate_array(arr,4)
print(result)

[5, 6, 1, 2, 3, 4]

##### Second Largest in array
Send Feedback
You have been given a random integer array/list(ARR) of size N. You are required to find and return the second largest element present in the array/list.
If N <= 1 or all the elements are same in the array/list then return -2147483648 or -2 ^ 31(It is the smallest value for the range of Integer)
Input format :
The first line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow.

The first line of each test case or query contains an integer 'N' representing the size of the array/list.

The second line contains 'N' single space separated integers representing the elements in the array/list.
Output Format :
For each test case, print the second largest in the array/list if exists, -2147483648 otherwise.

Output for every test case will be printed in a separate line.
Constraints :
1 <= t <= 10^2
0 <= N <= 10^5

Time Limit: 1 sec
Sample Input 1:
1
7
2 13 4 1 3 6 28
Sample Output 1:
13
Sample Input 2:
1
5
9 3 6 2 9
Sample Output 2:
6
Sample Input 3:
2
2
6 6
4
90 8 90 5
Sample Output 3:
-2147483648
8

In [11]:
def nextmax(arr):
    larg=0
    second=0
    for i in range(len(arr)):
        if (arr[i]>larg):
            second=larg
            larg=arr[i]
        elif (second<arr[i]<larg):
            second=arr[i]
    return second
            

arr=[int(x) for x in input().split()]
result = nextmax(arr)
print(result)

2 13 4 1 3 6 28 100 99 49 190
100

##### Check Array Rotation
Send Feedback
You have been given an integer array/list(ARR) of size N. It has been sorted(in increasing order) and then rotated by some number 'K' in the clockwise direction.
Your task is to write a function that returns the value of 'K', that means, the index from which the array/list has been rotated.
Input format :
The first line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow.

First line of each test case or query contains an integer 'N' representing the size of the array/list.

Second line contains 'N' single space separated integers representing the elements in the array/list.
Output Format :
For each test case, print the value of 'K' or the index from which which the array/list has been rotated.

Output for every test case will be printed in a separate line.
Constraints :
1 <= t <= 10^2
0 <= N <= 10^5
Time Limit: 1 sec
Sample Input 1:
1
6
5 6 1 2 3 4
Sample Output 1:
2
Sample Input 2:
2
5
3 6 8 9 10
4
10 20 30 1
Sample Output 2:
0
3

In [21]:
def checkArrayRotation(arr):
    for i in range(len(arr)):
        if arr[i]>arr[i+1]:
            return i+1
    return 0
        
arr=[int(x) for x in input().split()]
result=checkArrayRotation(arr)
print(result)

10 20 30 40 50 1 2 3
5

##### Sort 0 1 2
Send Feedback
You are given an integer array/list(ARR) of size N. It contains only 0s, 1s and 2s. Write a solution to sort this array/list in a 'single scan'.
'Single Scan' refers to iterating over the array/list just once or to put it in other words, you will be visiting each element in the array/list just once.
Note:
You need to change in the given array/list itself. Hence, no need to return or print anything. 
Input format :
The first line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow.

First line of each test case or query contains an integer 'N' representing the size of the array/list.

Second line contains 'N' single space separated integers(all 0s, 1s and 2s) representing the elements in the array/list.
Output Format :
For each test case, print the sorted array/list elements in a row separated by a single space.

Output for every test case will be printed in a separate line.
Constraints :
1 <= t <= 10^2
0 <= N <= 10^5
Time Limit: 1 sec
Sample Input 1:
1
7
0 1 2 0 2 0 1
Sample Output 1:
0 0 0 1 1 2 2 
Sample Input 2:
2
5
2 2 0 1 1
7
0 1 2 0 1 2 0
Sample Output 2:
0 1 1 2 2 
0 0 0 1 1 2 2

In [31]:
def dutch_flag_problem(arr):
    i=0
    mid=0
    low=0
    high=len(arr)-1
    while (mid<=high):
        if (arr[mid]==0):
            arr[mid],arr[low]=arr[low],arr[mid]
            mid+=1
            low+=1
        elif (arr[mid]==2):
            arr[mid],arr[high]=arr[high],arr[mid]
            high-=1
        else:
            mid+=1
        i+=1
    return arr

array=[int(x) for x in input().split()]
result=dutch_flag_problem(array)
print(result)

0 1 2 0 2 0 1
[0, 0, 0, 1, 1, 2, 2]

##### Sum of Two Arrays
Send Feedback
Two random integer arrays/lists have been given as ARR1 and ARR2 of size N and M respectively. Both the arrays/lists contain numbers from 0 to 9(i.e. single digit integer is present at every index). The idea here is to represent each array/list as an integer in itself of digits N and M.
You need to find the sum of both the input arrays/list treating them as two integers and put the result in another array/list i.e. output array/list will also contain only single digit at every index.
Note:
The sizes N and M can be different. 

Output array/list(of all 0s) has been provided as a function argument. Its size will always be one more than the size of the bigger array/list. Place 0 at the 0th index if there is no carry. 

No need to print the elements of the output array/list.
Input format :
The first line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow.

First line of each test case or query contains an integer 'N' representing the size of the first array/list.

Second line contains 'N' single space separated integers representing the elements of the first array/list.

Third line contains an integer 'M' representing the size of the second array/list.

Fourth line contains 'M' single space separated integers representing the elements of the second array/list.
Output Format :
For each test case, print the required sum of the arrays/list in a row, separated by a single space.

Output for every test case will be printed in a separate line.
Constraints :
1 <= t <= 10^2
0 <= N <= 10^5
0 <= M <= 10^5
Time Limit: 1 sec 
Sample Input 1:
1
3
6 2 4
3
7 5 6
Sample Output 1:
1 3 8 0
Sample Input 2:
2
3
8 5 2
2
1 3
4
9 7 6 1
3
4 5 9
Sample Output 2:
0 8 6 5
1 0 2 2 0

In [32]:
def arraySum(a,b,n,m):
    #empty array to store the result
    summ=[0]*(n+1) 
    
    result=0
    carry=0
    i=n-1
    j=m-1
    #sum array should be created with size greater than the largest array
    k=n
    
    #since j (array B) is of smaller length , so going through it first
    while i>=0 and j>=0:
        result=a[i]+b[j]+carry
        summ[k]+=result%10
        carry=result//10
        i-=1
        j-=1
        k-=1
        
    #adding the leftover of larger array(a)
    while i>=0:
        result=a[i]+carry
        summ[k]+=result%10
        carry=result//10
        i-=1
        k-=1
    

    #checking if there is any carrry for the last element processed( first element of the list)
    if carry >0:
        summ[k]+=carry
        k-=1
        
    return summ

        

a1=[9,9,9,9]
n=4
b2=[9,9]
m=2
if m<n:
    result=arraySum(a1,b2,n,m)
else:
    result=arraySum(b2,a1,m,n)
print(result)

[1, 0, 0, 9, 8]

### Strings

In [2]:
#replace a character in the string
def replace(strng,char,x):
    new=''
    for ele in strng:
        if (ele==char):
            new+=str(x)
        else:
            new+=str(ele)
    return new

strng=input()
a=input("Which char to replace? ")
p=input("To replace with? ")
strng=replace(strng,a,p)
print(strng)

queue
Which char to replace? e
To replace with? 1
qu1u1

##### Find vowels, consonents,digits & special characters

In [13]:
def countInString(st):
    vow=0
    const=0
    dig=0
    spcl=0
    for ele in st:
        if (("a"<=ele<="z") or ("A"<=ele<="z")):
            ele=ele.lower()
            if ele in ('a','e','i','o','u'):
                vow+=1
            else:
                const+=1
        elif ('0'<=ele<='9'):
            dig+=1
        else:
            spcl+=1
    return vow, const,dig,spcl


a,b,c,d=countInString("a quick brown fox jumps upon a lazy dog")
print(a)
print(b)
print(c)
print(d)

11
20
0
8

##### Check Permutation
Send Feedback
For a given two strings, 'str1' and 'str2', check whether they are a permutation of each other or not.
Permutations of each other
Two strings are said to be a permutation of each other when either of the string's characters can be rearranged so that it becomes identical to the other one.

Example: 
str1= "sinrtg" 
str2 = "string"

The character of the first string(str1) can be rearranged to form str2 and hence we can say that the given strings are a permutation of each other.
Input Format:
The first line of input contains a string without any leading and trailing spaces, representing the first string 'str1'.

The second line of input contains a string without any leading and trailing spaces, representing the second string 'str2'.
Note:
All the characters in the input strings would be in lower case.
Output Format:
The only line of output prints either 'true' or 'false', denoting whether the two strings are a permutation of each other or not.

You are not required to print anything. It has already been taken care of. Just implement the function. 
Constraints:
0 <= N <= 10^6
Where N is the length of the input string.

Time Limit: 1 second
Sample Input 1:
abcde
baedc
Sample Output 1:
true
Sample Input 2:
abc
cbd
Sample Output 2:
false

In [21]:
def checkPermutation(a,b):
    if len(a)!=len(b):
        return False
    freq=[0]*256
    for ele in a:
        freq[ord(ele)]+=1
    for ele in b:
        freq[ord(ele)]-=1
    for ele in freq:
        if (ele!=0):
            return False
    return True
        
    
a=input()
b=input()
result=checkPermutation(a,b)
print(result)

abcdef
fedgcb
False

##### Remove Consecutive Duplicates
Send Feedback
For a given string(str), remove all the consecutive duplicate characters.
Example:
Input String: "aaaa"
Expected Output: "a"

Input String: "aabbbcc"
Expected Output: "abc"
 Input Format:
The first and only line of input contains a string without any leading and trailing spaces. All the characters in the string would be in lower case.
Output Format:
The only line of output prints the updated string.
Note:
You are not required to print anything. It has already been taken care of.
Constraints:
0 <= N <= 10^6
Where N is the length of the input string.

Time Limit: 1 second
Sample Input 1:
aabccbaa
Sample Output 1:
abcba
Sample Input 2:
xxyyzxx
Sample Output 2:
xyzx

In [21]:
def remove(s):
    i=0
    j=1
    res=''
    while(j<(len(s))):
            if s[i]==s[j]:
                j+=1
            else:
                res+=s[i]
                i=j
    #this below res+=s[i] is required to add the last element of the string to the resultant
    #string because the loop breaks at the last and this doesn't get added inside the loop.
    res+=s[i]
    return res

string="xxyyzxx"
result=remove(string)
print(result)

xyzx

##### Reverse Each Word


Aadil has been provided with a sentence in the form of a string as a function parameter. The task is to implement a function so as to print the sentence such that each word in the sentence is reversed.
Example:
Input Sentence: "Hello, I am Aadil!"
The expected output will print, ",olleH I ma !lidaA".
Input Format:
The first and only line of input contains a string without any leading and trailing spaces. The input string represents the sentence given to Aadil.
Output Format:
The only line of output prints the sentence(string) such that each word in the sentence is reversed. 
Constraints:
0 <= N <= 10^6
Where N is the length of the input string.

Time Limit: 1 second
Sample Input 1:
Welcome to Coding Ninjas
Sample Output 1:
emocleW ot gnidoC sajniN
Sample Input 2:
Always indent your code
Sample Output 2:
syawlA tnedni ruoy edoc

In [33]:
def reverse(s):
    res=[]
    new=s.split()
    for ele in new:
        res+=ele[::-1]+' '
    return ''.join(res)

print(reverse("Let's take LeetCode contest"))

s'teL ekat edoCteeL tsetnoc

##### Remove character
Send Feedback
For a given a string(str) and a character X, write a function to remove all the occurrences of X from the given string.
The input string will remain unchanged if the given character(X) doesn't exist in the input string.
Input Format:
The first line of input contains a string without any leading and trailing spaces.

The second line of input contains a character(X) without any leading and trailing spaces.
Output Format:
The only line of output prints the updated string. 
Note:
You are not required to print anything explicitly. It has already been taken care of.
Constraints:
0 <= N <= 10^6
Where N is the length of the input string.

Time Limit: 1 second
Sample Input 1:
aabccbaa
a
Sample Output 1:
bccb
Sample Input 2:
xxyyzxx
y
Sample Output 2:
xxzxx

In [4]:
def remove(s,x):
    res=''
    for ele in s:
        if (ele != x):
            res+=ele
    return res

print(remove("a quick brown fox jumps upon a lazy dog","a"))

 quick brown fox jumps upon  lzy dog

##### Highest Occuring Character
Send Feedback
For a given a string(str), find and return the highest occurring character.
Example:
Input String: "abcdeapapqarr"
Expected Output: 'a'
Since 'a' has appeared four times in the string which happens to be the highest frequency character, the answer would be 'a'.
If there are two characters in the input string with the same frequency, return the character which comes first.
Consider:
Assume all the characters in the given string to be in lowercase always.
Input Format:
The first and only line of input contains a string without any leading and trailing spaces.
Output Format:
The only line of output prints the updated string. 
Note:
You are not required to print anything explicitly. It has already been taken care of.
Constraints:
0 <= N <= 10^6
Where N is the length of the input string.

Time Limit: 1 second
Sample Input 1:
abdefgbabfba
Sample Output 1:
b
Sample Input 2:
xy
Sample Output 2:
x

In [11]:
def occurence(s):
    maxx=0
    index=0
    for i in range(len(s)):
        count=0
        for j in range(len(s)):
            if(s[i]==s[j]):
                 count+=1
        if count>maxx:
            maxx=count
            index=s[i]
    return index, maxx
print(occurence("xy"))

('x', 1)

##### Compress the String
Send Feedback
Write a program to do basic string compression. For a character which is consecutively repeated more than once, replace consecutive duplicate occurrences with the count of repetitions.
Exmple:
If a string has 'x' repeated 5 times, replace this "xxxxx" with "x5".

The string is compressed only when the repeated character count is more than 1.
Note :
Consecutive count of every character in the input string is less than or equal to 9.
Input Format:
The first and only line of input contains a string without any leading and trailing spaces.
Output Format:
The only line of output prints the updated string.
Note:
You are not required to print anything. It has already been taken care of.
Constraints:
0 <= N <= 10^6
Where N is the length of the input string.

Time Limit: 1 second
Sample Input 1:
aaabbccdsa
Sample Output 1:
a3b2c2dsa
Sample Input 2:
aaabbcddeeeee
Sample Output 2:
a3b2cd2e5

In [18]:
def compress(s):
    res=''
    i=0
    while i<len(s):
        count=1
        for j in range(i+1,len(s)):
            if(s[i]!=s[j]):
                break
            else:
                count+=1
        if(count>1):
            res+=s[i]+str(count)
        else:
            res+=s[i]
        i+=count
    return res

print(compress("aaabbcddeeeee "))

a3b2cd2e5

### 2D list

In [24]:
li=["Hello","world","Hello"]
new=[ [char for char in ele] for ele in li]
print(new)

[['H', 'e', 'l', 'l', 'o'], ['w', 'o', 'r', 'l', 'd'], ['H', 'e', 'l', 'l', 'o']]

In [30]:
s=input().split()
n,m=s[0],s[1]
lst=[ [int(j) for j in input().split()] for i in range(int(n))]
print(lst)

2 3
1 2 3
0 0 0
[[1, 2, 3], [0, 0, 0]]

In [41]:
str1=input().split()
n,m=int(str[0]),int(str[1])
b=str[2:]
result=[ [ b[m*i+j] for j in range(m)] for i in range(n)]

2 2 1 2 3 4

In [32]:
print(result)

[['0', '1'], ['0', '2']]

In [4]:
li22=[[1,2,3,4],[4,5,6,7],[9,0,0,0]]
n=3
for ele in li22:
    output= ' '.join([str(element) for element in ele])
    print(output)

1 2 3 4
4 5 6 7
9 0 0 0

##### Row Wise Sum
Send Feedback
For a given two-dimensional integer array/list of size (N x M), find and print the sum of each of the row elements in a single line, separated by a single space.
Input Format :
The first line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow.

First line of each test case or query contains two integer values, 'N' and 'M', separated by a single space. They represent the 'rows' and 'columns' respectively, for the two-dimensional array/list.

Second line onwards, the next 'N' lines or rows represent the ith row values.

Each of the ith row constitutes 'M' column values separated by a single space.
Output Format :
For each test case, print the sum of every ith row elements in a single line separated by a single space.

Output for every test case will be printed in a seperate line.
Constraints :
1 <= t <= 10^2
0 <= N <= 10^3
0 <= M <= 10^3
Time Limit: 1sec
Sample Input 1:
1
4 2 
1 2 
3 4 
5 6 
7 8
Sample Output 1:
3 7 11 15 
Sample Input 2:
2
2 5 
4 5 3 2 6 
7 5 3 8 9
4 4
1 2 3 4
9 8 7 6
3 4 5 6
-1 1 -10 5
Sample Output 2:
20 32 
10 30 18 -5

In [19]:
def rowsum(s):
    for ele in s:
        count=0
        for element in ele:
            count+=int(element)
        print(count,end=' ')
    return

s=input().split()
n,m=int(s[0]),int(s[1])
b=input().split()
arr=[[int(b[m*i+j]) for j in range(m)] for i in range(int(n))]
print(rowsum(b))

2 3
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 None

##### Max Column Sum

In [4]:
def max_col_sum(arr,n,m):
    max_col=-1
    index=-1
    for j in range(m):
        add=0
        for i in range(n):
            add+=arr[i][j]
        if add>max_col:
            max_col=add
            index=j
    return index

arr=[[1,2,3,4],[5,9,7,8],[0,9,2,6]]
max_col_index=max_col_sum(arr,3,4)
print(max_col_index)

1

In [5]:
#SECOND METHOD
def max_col_sum(arr,n,m):
    max_col=-1
    index=-1
    for j in range(m):
        add=0
        for ele in arr:
            add+=ele[j]
        if add>max_col:
            max_col=add
            index=j
    return index

arr=[[1,2,3,4],[5,9,7,8],[0,9,2,6]]
max_col_index=max_col_sum(arr,3,4)
print(max_col_index)

1

##### Largest Row or Column
Send Feedback
For a given two-dimensional integer array/list of size (N x M), you need to find out which row or column has the largest sum(sum of all the elements in a row/column) amongst all the rows and columns.
Note :
If there are more than one rows/columns with maximum sum, consider the row/column that comes first. And if ith row and jth column has the same largest sum, consider the ith row as answer.
Input Format :
The first line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow.

First line of each test case or query contains two integer values, 'N' and 'M', separated by a single space. They represent the 'rows' and 'columns' respectively, for the two-dimensional array/list.

Second line onwards, the next 'N' lines or rows represent the ith row values.

Each of the ith row constitutes 'M' column values separated by a single space.
Output Format :
For each test case, If row sum is maximum, then print: "row" <row_index> <row_sum>
OR
If column sum is maximum, then print: "column" <col_index> <col_sum>
It will be printed in a single line separated by a single space between each piece of information.

Output for every test case will be printed in a seperate line.
 Consider :
If there doesn't exist a sum at all then print "row 0 -2147483648", where -2147483648 or -2^31 is the smallest value for the range of Integer.
Constraints :
1 <= t <= 10^2
0 <= N <= 10^3
0 <= M <= 10^3
Time Limit: 1sec
Sample Input 1 :
1
2 2 
1 1 
1 1
Sample Output 1 :
row 0 2
Sample Input 2 :
2
3 3
3 6 9 
1 4 7 
2 8 9
4 2
1 2
90 100
3 40
-10 200
Sample Output 2 :
column 2 25
column 1 342

In [16]:
def col_or_row_sum(arr):
    n=len(arr)
    m=len(arr[0])
    
    max_col=-1
    index_col=-1
    for j in range(m):
        add=0
        for i in range(n):
            add+=arr[i][j]
        if add>max_col:
            max_col=add
            index_col=j
    
    max_row=-1
    index_row=-1
    for i in range(n):
        add=0
        for j in range(m):
            add+=arr[i][j]
        if add>max_row:
            max_row=add
            index_row=i
    
    if max_row == max_col:
        print("Row ", index_row,"\t",max_row)
    elif max_row>max_col:
        print("Row ", index_row,"\t",max_row)
    else:
        print("Column ", index_col,"\t",max_col)
        

    
n,m=input().split()    
arr=[[int(j) for j in input().split()] for i in range(int(n))]
col_or_row_sum(arr)

4 2
1 2
90 100
3 40
-10 200
Column  1 	 342

###### Wave Print
Send Feedback
For a given two-dimensional integer array/list of size (N x M), print the array/list in a sine wave order, i.e, print the first column top to bottom, next column bottom to top and so on.
Input format :
The first line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow.

First line of each test case or query contains two integer values, 'N' and 'M', separated by a single space. They represent the 'rows' and 'columns' respectively, for the two-dimensional array/list.

Second line onwards, the next 'N' lines or rows represent the ith row values.

Each of the ith row constitutes 'M' column values separated by a single space.
Output format :
For each test case, print the elements of the two-dimensional array/list in the sine wave order in a single line, separated by a single space.

Output for every test case will be printed in a seperate line.
Constraints :
1 <= t <= 10^2
0 <= N <= 10^3
0 <= M <= 10^3
Time Limit: 1sec
Sample Input 1:
1
3 4 
1  2  3  4 
5  6  7  8 
9 10 11 12
Sample Output 1:
1 5 9 10 6 2 3 7 11 12 8 4
Sample Input 2:
2
5 3 
1 2 3 
4 5 6 
7 8 9 
10 11 12 
13 14 15
3 3
10 20 30 
40 50 60
70 80 90
Sample Output 2:
1 4 7 10 13 14 11 8 5 2 3 6 9 12 15 
10 40 70 80 50 20 30 60 90

In [19]:
def sine_wave(arr):
    n=len(arr)
    m=len(arr[0])
    for j in range(m):
        if (j%2==0):
            for i in range(n):
                print(arr[i][j],end=' ')
        else:
            for i in range(n-1,-1,-1):
                print(arr[i][j],end=' ')

arr=[[1,2,3,4],[5,6,7,8],[9,10,11,12]]
sine_wave(arr)

1 5 9 10 6 2 3 7 11 12 8 4

##### Spiral Print
Send Feedback
For a given two-dimensional integer array/list of size (N x M), print it in a spiral form. That is, you need to print in the order followed for every iteration:
a. First row(left to right)
b. Last column(top to bottom)
c. Last row(right to left)
d. First column(bottom to top)
 Mind that every element will be printed only once.
Refer to the Image:

Input format :
The first line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow.

First line of each test case or query contains two integer values, 'N' and 'M', separated by a single space. They represent the 'rows' and 'columns' respectively, for the two-dimensional array/list.

Second line onwards, the next 'N' lines or rows represent the ith row values.

Each of the ith row constitutes 'M' column values separated by a single space.
Output format :
For each test case, print the elements of the two-dimensional array/list in the spiral form in a single line, separated by a single space.

Output for every test case will be printed in a seperate line.
Constraints :
1 <= t <= 10^2
0 <= N <= 10^3
0 <= M <= 10^3
Time Limit: 1sec
Sample Input 1:
1
4 4 
1 2 3 4 
5 6 7 8 
9 10 11 12 
13 14 15 16
Sample Output 1:
1 2 3 4 8 12 16 15 14 13 9 5 6 7 11 10 
Sample Input 2:
2
3 3 
1 2 3 
4 5 6 
7 8 9
3 1
10
20
30
Sample Output 2:
1 2 3 6 9 8 7 4 5 
10 20 30

In [37]:
def spiral(arr,n,m):
    j=0 #row starting
    k=0 #col starting
    
    while (j<n) and (k<m):
        
        #row
        for i in range(k,m):
            print(arr[j][i],end=' ')
        j+=1
        
        #col
        for i in range(j,n):
            print(arr[i][m-1],end=' ')
        m-=1
        
        #row
        if (j<n):
            for i in range(m-1,k-1,-1):
                print(arr[n-1][i],end=' ')
            n-=1
        #col
        if (k<m):
            for i in range(n-1,j-1,-1):
                print(arr[i][k],end=' ')
            k+=1
    
n=5
m=5
arr=[[1,2,3,4,5],[6,7,8,9,10],[11,12,13,14,15],[16,17,18,19,20],[21,22,23,24,25]]
for ele in arr:
    for elem in ele:
        print(elem,end=' ')
    print()
print()
spiral(arr,int(n),int(m))

1 2 3 4 5
6 7 8 9 10
11 12 13 14 15
16 17 18 19 20
21 22 23 24 25

1 2 3 4 5 10 15 20 25 24 23 22 21 16 11 6 7 8 9 14 19 18 17 12 13

In [49]:
arr=[[1,2,3,4,5],[6,7,8,9,10],[11,12,13,14,15],[16,17,18,19,20],[21,22,23,24,25]]
for row in arr:
    output=' '.join([str(col) for col in row])
    print(output)

1 2 3 4 5
6 7 8 9 10
11 12 13 14 15
16 17 18 19 20
21 22 23 24 25

### Tuples

In [51]:
#take variable inputs = use * with the variable name to accomodate more 
def add(a,b,*more):
    summ=a+b
    for ele in more:
        summ+=ele
    return summ

a=add(1,2,3,4,5,6)
print(a)

21

### Dictionaries

In [1]:
a={"the":1,"abcd":2,2342:"he"}

In [3]:
print(type(a))
a

<class 'dict'>

{'the': 1, 'abcd': 2, 2342: 'he'}

In [9]:
b=a.copy()
print(b)
print(type(b))

{'the': 1, 'abcd': 2, 2342: 'he'}
<class 'dict'>

In [10]:
c=dict([("the",12),("hker",920)])
print(c)
print(type(c))

{'the': 12, 'hker': 920}
<class 'dict'>

In [3]:
d=dict.fromkeys(["the","uoiu","0oopw"],10)
print(d)
type(d)

{'the': 10, 'uoiu': 10, '0oopw': 10}

dict

In [12]:
d.values()

dict_values([10, 10, 10])

In [13]:
d.keys()

dict_keys(['the', 'uoiu', '0oopw'])

In [15]:
d.items()

dict_items([('the', 10), ('uoiu', 10), ('0oopw', 10)])

In [17]:
for i in a:
    print(i, a[i])

the 1
abcd 2
2342 he

In [19]:
for i in a.values():
    print(i)

1
2
he

In [4]:
d['tuple']=(1,2,3)

In [5]:
d

{'the': 10, 'uoiu': 10, '0oopw': 10, 'tuple': (1, 2, 3)}

In [7]:
z={3:5,'tuple':'empty',0:9,78:90}
d.update(z)
print(d)

{'the': 10, 'uoiu': 10, '0oopw': 10, 'tuple': 'empty', 3: 5, 0: 9, 78: 90}

In [8]:
d.pop('the')

10

In [9]:
d

{'uoiu': 10, '0oopw': 10, 'tuple': 'empty', 3: 5, 0: 9, 78: 90}

In [10]:
del d[3]

In [11]:
d

{'uoiu': 10, '0oopw': 10, 'tuple': 'empty', 0: 9, 78: 90}

In [12]:
d.clear()

In [13]:
d

{}

In [14]:
del d

In [15]:
d

NameError: name 'd' is not defined

In [19]:
def printKFreqWords(s,k):
    words =s.split()
    d={}
    for ele in words:
        d[ele]=d.get(ele,0)+1
    for ele in d:
        if d[ele]==k:
            print(ele)

In [22]:
printKFreqWords("this is a word string having many many words",1)

this
is
a
word
string
having
words

##### Sets

In [23]:
a={1,2,3,4}
b={3,4,5,6}

In [24]:
a.intersection(b)

{3, 4}

In [25]:
a.union(b)

{1, 2, 3, 4, 5, 6}

In [26]:
a.difference(b)

{1, 2}

In [27]:
b.difference(a)

{5, 6}

In [29]:
a.symmetric_difference(b)

{1, 2, 5, 6}

In [31]:
s={1,2,3,4,5,4,3,2,1}
print(len(s))
s.add(4)
s.add(3)
print(len(s))

5
5

In [34]:
# sum of unique elements
def addUnique(l):
    s=set()
    for i in l:
        s.add(i)
    sum=0
    for i in s:
        sum+=i
    return sum

addUnique([1,2,3,3,4,4,5,5,6,6])

21

##### First non repeating character
Send Feedback
In a given string, find the first non-repeating character .You are given a string, that can contain repeating characters. Your task is to return the first character in this string that does not repeat. i.e., occurs exactly once. The string will contain characters only from English alphabet set, i.e., ('A' - 'Z') and ('a' - 'z'). If there is no non-repeating character print the first character of string.
Input Format :
Line 1 : A String , as mentioned above.
Output Format :
First non-repeating character
Sample Input 1 :
aDcadhc
Sample Output 1:
D
Sample Input 2 :
gdhIgHada
Sample Output 2 :
h

In [60]:
def uniqueChar(string,freq):
    #because this is a word and doesn't contain any spaces, we can't use split()
    words=[ele for ele in string]
    #an empty dictionary
    d={}
    for ele in words:
        d[ele]=d.get(ele,0)+1
    #checking for the first elem whose frequence is equal to freq and returning it
    for ele in d:
        if d[ele]==freq:
            return ele
    #if no elem found with desired frequence, then return the first word of the string
    return words[0]
    
uniqueChar("gdhIgHada ",1)

'h'

##### Extract Unique characters
Send Feedback
Given a string S, you need to remove all the duplicates. That means, the output string should contain each character only once. The respective order of characters should remain same, as in the input string.
Input format:
The first and only line of input contains a string, that denotes the value of S.
Output format :
The first and only line of output contains the updated string, as described in the task.
Constraints :
0 <= Length of S <= 10^8
Time Limit: 1 sec
Sample Input 1 :
ababacd
Sample Output 1 :
abcd
Sample Input 2 :
abcde
Sample Output 2 :
abcde

In [87]:
def uniqueChar(string):
    #breaking string in to separate letter
    words=[ele for ele in string]
    d={} #empty dictionary
    for ele in words:
        if d.get(ele,0)==0:
            d[ele]=d.get(ele,0)+1
    return ''.join(d.keys())

uniqueChar("potato")

'pota'

##### Different Names
Send Feedback
In Little Flowers Public School, there are many students with same first names. You are given a task to find the students with same names. You will be given a string comprising of all the names of students and you have to tell the name and count of those students having same. If all the names are unique, print -1 instead.
Note: We don't have to mention names whose frequency is 1.
Input Format:
The only line of input will have a string ‘str’ with space separated first names of students.
Output Format:
Print the names of students along with their count if they are repeating. If no name is repeating, print -1
Constraints:
1 <= |str| <= 10^5
Time Limit: 1 second
Sample Input 1:
Abhishek harshit Ayush harshit Ayush Iti Deepak Ayush Iti
Sample Output 1:
harshit 2
Ayush 3
Iti 2
Sample Input 2:
Abhishek Harshit Ayush Iti
Sample Output:
-1

In [92]:
def names(string):
    words=string.split()
    d={}
    flag=False
    for ele in words:
        d[ele]=d.get(ele,0)+1
    for ele in d:
        if d[ele]>1:
            print(ele,'\t',d[ele])
            flag=True
    if not flag:
        return -1
    
string="Abhishek harshit Ayush harshit Ayush Iti Deepak Ayush Iti"
names(string)

harshit 	 2
Ayush 	 3
Iti 	 2

##### Maximum Frequency Number
Send Feedback
You are given an array of integers that contain numbers in random order. Write a program to find and return the number which occurs the maximum times in the given input.
If two or more elements contend for the maximum frequency, return the element which occurs in the array first.
Input Format:
The first line of input contains an integer, that denotes the value of the size of the array. Let us denote it with the symbol N.
The following line contains N space separated integers, that denote the value of the elements of the array.
Output Format :
The first and only line of output contains most frequent element in the given array.
Constraints:
0 <= N <= 10^8
Time Limit: 1 sec
Sample Input 1 :
13
2 12 2 11 12 2 1 2 2 11 12 2 6 
Sample Output 1 :
2
Sample Input 2 :
3
1 4 5
Sample Output 2 :
1

In [94]:
def maxnumber(arr):
    d={}
    for ele in arr:
        d[ele]=d.get(ele,0)+1
    max=-1
    num=-1
    for ele in d:
        if d[ele]>max:
            max=d[ele]
            num=ele
    return num

maxnumber([1, 4, 5])

1

In [100]:
def bubblesort(arr):
    for i in range(len(arr)):
        for j in range(len(arr)-1):
            if arr[j]>arr[j+1]:
                arr[j],arr[j+1]=arr[j+1],arr[j]
    return arr
    

if __name__ == '__main__':
    n = int(input())
    arr = [int(ele) for ele in input().split()]
    arr=bubblesort(arr)
    max=arr[-1]
    max2=0
    for i in range(len(arr)):
        if max2<arr[i]<max:
            max2=arr[i]
    print(max2)

5
2 3 4 5 5
4

In [ ]:
if __name__ == '__main__':
    for i in range(int(input())):
        name = input()
        score = float(input())
    print(list)
#empty dictionary
new=dict(list)